input, select {
  -webkit-appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;  /*Firefox3.5+*/
  -webkit-box-sizing: border-box; /*Safari3.2+*/
  float: right;
  width: 10.7rem;
  height: 1.3rem;
  line-height: 1.3rem;
  padding-right: 1rem;
  color: #3E260C;
  font-size: 0.65rem;
  border-radius: inherit;
  background-color: transparent;
}
select {
  background: transparent url("../src/4-arrowDown.png") no-repeat 10rem center;
  background-size: 0.5rem 0.3rem;
}

@mixin dialog() {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: 10;
}

#commitDialog {
  @include dialog();
  background-color: rgba(0,0,0,0.6);
  z-index: 12;
  .contentFrame {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8.3rem;
    margin-top: -9.4rem;
    width: 16.6rem;
    height: 18.8rem;
    background: url("../src/4-bg2.png") no-repeat;
    background-size: 100% auto;
    .closeDiv {
      width: 100%;
      height: 3rem;
      .close {
        float: right;
        margin-right: 1rem;
        margin-top: 1rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .car {
      position: absolute;
      left: 50%;
      width: 7rem;
      margin-left: -1rem;
      margin-top: 2rem;
      z-index: 1;
    }
    .infoDiv {
      display: block;
      margin: 3.5rem auto 0;
      width: 14rem;
      .item {
        margin-top: 0.5rem;
        width: 100%;
        height: 1.3rem;
        border: 1px solid #5A5A5B;
      }
      label,.l2 {
        display: block;
        width: 100%;
        line-height: 1.3rem;
        font-size: 0.65rem;
        text-indent: 0.5rem;
      }
      .l2 {
        float: left;
        width: 6.8rem;
        select {
          width: 3.5rem;
          background: transparent url("../src/4-arrowDown.png") no-repeat 2.8rem center;
          background-size: 0.5rem 0.3rem;
        }
      }
      .l2:nth-child(2) {
        float: right;
      }
      #btnSubmit {
        display: block;
        margin: 0.8rem auto 0;
        color: white;
        width: 5.75rem;
        text-align: center;
        font-size: 0.65rem;
        height: 2.2rem;
        line-height: 2.2rem;
        background: url("../src/4-btnBg.png") no-repeat;
        background-size: 5.75rem 2.2rem;
      }
      .tip {
        line-height: 1rem;
        margin-top: 0.5rem;
        color: #008dfd;
        font-size: 0.6rem;
        text-align: center;
      }
    }

  }
}