# Created by .ignore support plugin (hsz.mobi)
.idea/
invitation/
tjatse/
index_chatRoom.html
MP_verify_hC8uXzdJo7hzZK7b.txt
MP_verify_hfUMWV1cXEsiXshx.txt
testChat.html
public/react
public/scripts/app/