@charset "UTF-8";
/**
 * 
 * @authors skylu@bjczxd.com (you@example.org)
 * @date    2017-08-15 10:28:52
 * @version $Id$
 */
body {
	background-color: black;
}

.btn_jump{
	position: absolute;
	display: block;
	width: .63rem;
	top: .2rem;
	right: .2rem;
	z-index: 9999;
}

.btn_jump img{
	width: 100%;
}

#loading {
  position: absolute;
  z-index: 1000;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

#loading .clock{
	margin-top: 3.2rem;
	margin-left: 2.92rem;
	width: .74rem;
	text-align: center;
}

#loading .clock img{
	width: 100%;
}

#loading .percent{
	width: 100%;
	height: .31rem;
	font-size: 2em;
	color: white;
}

#loading .off_clock{
	display: none;
	margin: 3.98rem auto 0 auto;
	width: 2.92rem;
	height: 1.12rem;
	background: url('../images/bg_btn.png') left top no-repeat;
	background-size:100% 100%;
	text-align: center;
}

.videos { 
	position: relative;
	margin: 0 auto;
    width: 100%;
	height: 100%;
	border: 0;
	opacity: 1;
    z-index: 2;
 }

.videos .video {
	/*position: absolute;*/
	/*left: 0;*/
	/*top:0;*/
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

#video_3 {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: #EBEBEB;
}

.chats_cont_wrapper {
	width: 100%;
	overflow: hidden;
}

.chats_cont, .chat_input_cont {
  position: relative;
  width: 100%;
  overflow: hidden;
}


.chats_cont .chats {
  position: relative;
  display: block;
  width: 100%;
}

.chats_cont .btn_toInput{
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
}

.btn_toInput .finger_1{
	margin-left: 1.4rem;
    width: .64rem;
}

.chat_input_cont img{
	width: 100%;
}

#shadow {
	display: none;
	position: absolute;
	z-index:100;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

#shadow .finger{
	position: absolute;
	width: .48rem;
	left: 50%;
	margin-left: -.24rem;
	bottom: .45rem;
}

#shadow_1 {
	display: none;
	position: absolute;
	z-index:100;
	width: 100%;
	height: 4.3rem;
	bottom: 0;
	background-color: transparent;
}

#shadow_1 .finger_1{
	position: absolute;
	display: block;
	left: 1.4rem;
    top: 2.7rem;
    width: .64rem;
}


.info {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../images/bg_info.png') left top no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

.info .logo_I{
	margin-top: .22rem;
	margin-left: .32rem;
	width: 2.55rem;
}

.info .car{
	display: block;
	margin-left: 1.1rem;
	margin-top:1.6rem;
	width: 4.49rem;
}

.info .info_wrap {
	margin-top: .1rem;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.info .btn_gift {
	position: absolute;
	display: block;
	/*overflow: hidden;*/
	text-align: center;
	right: .2rem;
	bottom: .2rem;
}

.info .btn_gift img{
	width: .7rem;
}

.info .btn_gift p{
	font-size: 2em;
	text-align: center;
	color: #C8A77A;
	z-index:10;
}



.info .info_wrap:after ,.info_cont .form .f_row:after,.info_cont .form .location:after{
	display: block;
	content: '';
	width: 0;
	height: 0;
	clear: both;
}

.info .info_wrap .logo_II{
	float: right;
	margin-right: .25rem;
	width: 1.58rem;
}

.info .info_wrap .info_cont{
	float: right;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.info .info_wrap .info_cont .form{
	width: 4.5rem;
	margin: .1rem auto 0 auto;
}

.info_cont .form  a {
	color: white;
}

.info_cont .form .f_row{
	width: 100%;
	height: .48rem;
	overflow: hidden;
	font-size: 2em;
	color: white;
	margin-bottom: .26rem;
} 

.info_cont .form .f_row div{
    height: 100%;
	line-height: .48rem;
}

.info_cont .form .f_row div:first-child{
	float: left;
	width: 1.1rem;
}

.info_cont .form .f_row div:last-child{
	float: left;
	width: 3.4rem;
}

.info_cont .form .submit {
	margin-bottom: 0 !important;
	height: .6rem !important;
}

.info_cont .form .submit a {
	display: block;
	width: 2.3rem;
	height: 100%;
	line-height: .6rem;
	background-color: #ca050f;
	text-align: center;
	border-radius: .05rem;
}

.info_cont .form .ischecked{
	font-size: 1.25em;
	height: .6rem !important;
	margin-top: -.26rem;
	margin-bottom: 0 !important;
}

.info_cont .form .ischecked div:last-child{
	font-size: 1.25em;
	line-height: .6rem;
}

.info_cont .form .ischecked div:last-child img{
	width: .23rem;
	margin-right: .5em;
	vertical-align: middle;
}

.info_cont .form .location select:first-child{ float: left; }
.info_cont .form .location select:last-child{ float: right; }

.info_cont .form input, select{
	margin-top: -.04rem;
	width: 3.38rem;
	height: .46rem;
	line-height: .46rem;
	font-size: 1em;
	color: white;
	border: .01rem solid white;
	background-color: transparent;
}

.info_cont .form .s_select{
	margin-top: 0;
	width: 1.56rem;
	background-position: 96% center;
}

.info_cont .form select {
	padding-right: .3rem; 
	background-image: url('../images/icon_arrow_down.png');
	background-position: 98% center;
	background-repeat: no-repeat;
	background-size: .21rem .13rem;
}



.carAnimate {
	animation: carLeftFadeIn .3s ease-in;
	animation-fill-mode: both;
}

@keyframes carLeftFadeIn{
	0% { transform: translate3d(-50%,-10%,0) scale(.8,.8); opacity: 0; }
	100% { transform: none; opacity: 1; }
}

.fadeInAnimate {
	animation: fadeIn .5s linear;
	animation-fill-mode: both;
}

@keyframes fadeIn{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.giftAnimate {
	animation: giftFadeInDown .5s ease-in 1s;
	animation-fill-mode: both;
}

@keyframes giftFadeInDown{
	0% { opacity: 0; transform: translate3d(0,-300%,0);}
	100% { opacity: 1; transform: none; }
}

.giftShake {
    animation: giftShake .5s linear 2;
    animation-direction: alternate;
	animation-fill-mode: both;
	transform-origin: center bottom; 
}

@keyframes giftShake{
	0% { transform: none; }
	20% { transform: rotate(-15deg);}
	40% { transform: rotate(0deg); }
	60% { transform: rotate(15deg); }
	80% { transform: rotate(0deg); }
	100% { transform: rotate(-15deg); }
}

.clockShake {
    animation: clockShake .3s linear infinite;
    animation-direction: alternate;
	animation-fill-mode: both;
	transform-origin: center bottom; 
}

@keyframes clockShake{
	0% { transform: none; }
	20% { transform: rotate(-15deg);}
	40% { transform: rotate(0deg); }
	60% { transform: rotate(15deg); }
	80% { transform: rotate(0deg); }
	100% { transform: rotate(-15deg); }
}

.offClockAnimate{
    animation: offClockAni 1s linear infinite;
    animation-direction: alternate;
	animation-fill-mode: both;
}

@keyframes offClockAni{
	0% { transform: scale(.9); opacity: .9; }
	100% { transform: scale(1); opacity: 1; }
}

.fingerMove{
	animation: fingerMove 1.5s linear infinite;
	animation-fill-mode: both;
}

@keyframes fingerMove{
	0% { transform: translateX(-150%); }
	100% { transform: translateX(150%); }
}

.delay_5h{
	animation-delay: .5s;
}

.delay_1{
	animation-delay: 1s;
}

.delay_1_5{
	animation-delay: 1.5s;
}