/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-08-16 11:25:18
 * @version $Id$
 */
.loader,sub,sup {
 position:relative
}
.bubble:before,.chat .chatContent,.loader:after,.loader:before,.map-wrapper .map .map-pointer:before {
 content:''
}
article,aside,details,figcaption,figure,footer,header,main,nav,section {
 display:block
}
audio,canvas,video {
 display:inline-block
}
audio:not([controls]) {
 display:none;
 height:0
}
[hidden] {
 display:none
}
a:focus {
 outline:#333 dotted thin;
 outline:-webkit-focus-ring-color auto 5px;
 outline-offset:-2px
}
a:active,a:hover {
 outline:0
}
b,strong {
 font-weight:700
}
small {
 font-size:80%
}
sub,sup {
 font-size:75%;
 line-height:0;
 vertical-align:baseline
}
sup {
 top:-.5em
}
sub {
 bottom:-.25em
}
img {
 height:auto;
 vertical-align:middle;
 border:0;
 -ms-interpolation-mode:bicubic
}
.loader,.loader:after,.loader:before {
 width:4px;
 height:20px;
 background:#ff6700
}
body,dd,dl,figure,form,h1,h2,h3,h4,h5,h6,menu,ol,p,ul {
 margin:0
}
button,input,select,textarea {
 font-size:100%;
 margin:0;
 vertical-align:baseline;
 outline:0
}
.bubble,td,textarea {
 vertical-align:top
}
button,input {
 line-height:normal
}
button,html input[type=button],input[type=reset],input[type=submit] {
 -webkit-appearance:button;
 -moz-appearance:button;
 appearance:button;
 cursor:pointer
}
button[disabled],html input[disabled] {
 cursor:default
}
input[type=checkbox],input[type=radio] {
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 padding:0;
 margin:0
}
input[type=search] {
 -webkit-box-sizing:content-box;
 box-sizing:content-box;
 appearance:none;
 -moz-appearance:none;
 -webkit-appearance:none;
 outline:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance:none;
 margin:0
}
input[type=number] {
 -moz-appearance:textfield;
 -webkit-appearance:textfield;
 appearance:textfield
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
 appearance:none;
 -moz-appearance:none;
 -webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner {
 border:0;
 padding:0
}
input::-webkit-input-placeholder {
 color:#ccc
}
input:-moz-placeholder {
 color:#ccc
}
input::-moz-placeholder {
 color:#ccc
}
input:-ms-input-placeholder {
 color:#ccc
}
textarea {
 overflow:auto;
 resize:vertical
}
table {
 border-collapse:collapse;
 border-spacing:0
}
td,th {
 padding:0
}
menu,ol,ul {
 padding:0;
 list-style:none
}
h1,h2,h3,h4,h5,h6 {
 font-weight:400
}
.loader {
 margin:0 auto;
 overflow:visible;
 -webkit-animation-delay:0s;
 animation-delay:0s;
 -webkit-transform:scale(1,1);
 -ms-transform:scale(1,1);
 transform:scale(1,1)
}
.loader,.loader:after,.loader:before {
 -webkit-transform-origin:50% 50%;
 -ms-transform-origin:50% 50%;
 transform-origin:50% 50%;
 -webkit-animation-name:loader;
 animation-name:loader;
 -webkit-animation-duration:.3s;
 animation-duration:.3s;
 -webkit-animation-timing-function:linear;
 animation-timing-function:linear;
 -webkit-animation-iteration-count:infinite;
 animation-iteration-count:infinite;
 -webkit-animation-direction:alternate-reverse;
 animation-direction:alternate-reverse
}
.loader:after,.loader:before {
 position:absolute;
 left:50%;
 top:50%
}
.avatar>img,.chat,.message {
 width:100%
}
.loader:before {
 margin:-10px 0 0 -10px;
 -webkit-animation-delay:.25s;
 animation-delay:.25s;
 -webkit-transform:scale(1,.3);
 -ms-transform:scale(1,.3);
 transform:scale(1,.3)
}
.loader:after {
 margin:-10px 0 0 6px;
 -webkit-animation-delay:.5s;
 animation-delay:.5s;
 -webkit-transform:scale(1,.5);
 -ms-transform:scale(1,.5);
 transform:scale(1,.5)
}
.loader-white,.loader-white:after,.loader-white:before {
 background:#fff
}
.chat,body {
 background-color:#f0f0f0
}
@-webkit-keyframes loader {
 0% {
  -webkit-transform:scale(1,.5);
  transform:scale(1,.5);
  opacity:.2
 }
 100% {
  -webkit-transform:scale(1,1);
  transform:scale(1,1);
  opacity:1
 }
}
@keyframes loader {
 0% {
  -webkit-transform:scale(1,.5);
  transform:scale(1,.5);
  opacity:.2
 }
 100% {
  -webkit-transform:scale(1,1);
  transform:scale(1,1);
  opacity:1
 }
}
body,html {
 height:100%;
 margin:0
}
body {
 -webkit-font-smoothing:antialiased;
 line-height:1.6
}
pre {
 margin:0;
 font-family:inherit;
 font-size:inherit;
 white-space:pre-wrap
}
.scroll-wrapper {
 overflow:hidden!important;
 padding:0!important
}
.scroll-wrapper>.scroll-content {
 height:100%;
 overflow-x:hidden!important;
 overflow-y:scroll!important
}
.avatar {
 background-size:contain;
 background-position:center center
}
.call-pics .video-action,.input-wrapper {
 background-position:center top;
 background-repeat:no-repeat
}
.chat {
 position:relative;
 height:100%
}
.chat .box_hd {
 text-align:center;
 position:absolute;
 top:0;
 left:0;
 right:0;
 line-height:.938rem
}
.chat .box_hd .title_wrapper {
 position:relative;
 padding:.75rem 1.063rem;
 background-color:#262626;
 z-index:50
}
.chat .box_bd,.chat .box_ft {
 position:absolute;
 left:0;
 right:0
}
.chat .box_hd .title_wrapper .title {
 font-weight:400;
 height:1rem;
 display:inline-block;
 font-size:1rem;
 color:#fff
}
.chat .box_bd {
 top:0;
 bottom:3.188rem
}
.chat .box_ft {
 bottom:0
}
.chat .chatContent {
 clear:both;
 display:table;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 width:100%;
 padding:1rem .438rem 2.5rem
}
.message {
 margin-bottom:1.25rem;
 float:left;
 -webkit-animation:goup .5s;
 animation:goup .5s
}
.message.me,.message.me .avatar {
 float:right
}
.message .avatar {
 width:2.5rem;
 height:2.5rem;
 margin-top:.938rem;
 border-radius:50%;
 overflow:hidden
}
.message .author_name {
 height:.938rem;
 margin:0 .875rem;
 font-size:.625rem;
 line-height:.938rem;
 color:#b0b0b0
}
.message .content {
 overflow:hidden
}
.message.me {
 text-align:right;
 clear:right
}
.message.others {
 float:left;
 text-align:left;
 clear:left
}
.message.others .avatar {
 float:left
}
@-webkit-keyframes goup {
 0% {
  -webkit-transform:translate(0,1.875rem);
  transform:translate(0,1.875rem)
 }
 100% {
  -webkit-transform:translate(0,0);
  transform:translate(0,0)
 }
}
@keyframes goup {
 0% {
  -webkit-transform:translate(0,1.875rem);
  transform:translate(0,1.875rem)
 }
 100% {
  -webkit-transform:translate(0,0);
  transform:translate(0,0)
 }
}
.message_system {
 text-align:center;
 margin:-.313rem auto 0;
 max-width:50%;
 font-size:0
}
.message_system .content {
 display:inline-block;
 background-color:#dcdcdc;
 font-size:.75rem;
 padding:.313rem .563rem;
 color:#fff;
 border-radius:.063rem
}
.bubble {
 max-width:14.688rem;
 min-height:2.5rem;
 display:inline-block;
 position:relative;
 text-align:left;
 font-size:.875rem;
 border-radius:.125rem;
 margin:0 .875rem
}
.bubble_cont .picture img,.bubble_cont .video img,.bubble_cont .video video {
 max-width:9.375rem;
 max-height:9.375rem
}
.bubble:before {
 display:inline-block;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 width:.438rem;
 height:.438rem;
 position:absolute;
 top:.938rem;
 background-color:inherit;
 border-right-color:inherit;
 border-bottom-color:inherit
}
.bubble.bubble_image:before,.bubble_cont .plain .hide {
 display:none
}
.bubble.right:before {
 right:-.188rem;
 -webkit-transform:rotate(-45deg);
 -ms-transform:rotate(-45deg);
 transform:rotate(-45deg)
}
.bubble.left:before {
 left:-.188rem;
 -webkit-transform:rotate(135deg);
 -ms-transform:rotate(135deg);
 transform:rotate(135deg)
}
.bubble.bubble_default {
 background-color:#fff;
 border-color:#919191
}
.bubble.bubble_default.left:before {
 border-color:#919191
}
.bubble.bubble_primary {
 background-color:#90d936;
 border-color:#6c9a36
}
.bubble.bubble_primary.right:before {
 border-color:#6c9a36
}
.bubble.bubble_image {
 border:none
}
.bubble_cont {
 word-wrap:break-word;
 word-break:break-all;
 min-height:2.5rem
}
.bubble_cont .plain {
 padding:.563rem .625rem
}
.bubble_cont .plain img {
 width:1.5rem
}
.bubble_cont .plain .trans {
 display:block;
 cursor:pointer;
 margin-top:.25rem;
 padding-top:.25rem;
 color:#669a27;
 border-top:.0703rem solid #dcdcdc
}
.bubble_cont .picture {
 border-radius:.125rem;
 overflow:hidden;
 position:relative
}
.bubble_cont .picture img {
 display:block;
 cursor:pointer
}
.box_ft {
 padding-top:3.188rem;
 background-color:#fff
}
.input-wrapper {
 position:absolute;
 width:100%;
 height:3.125rem;
 top:0;
 left:0;
 background-image:url(http://c1.mifile.cn/f/i/hd/2016051101/input.jpg);
 background-size:22.5rem 3.188rem
}
.input-wrapper>p {
 margin-left:1.063rem;
 margin-right:3.563rem;
 text-align:center;
 line-height:3.125rem;
 color:#999;
 font-size:1rem;
 -webkit-animation:gost 1.4s infinite ease-in-out;
 animation:gost 1.4s infinite ease-in-out;
 display:none
}
@-webkit-keyframes gost {
 0%,100% {
  opacity:1
 }
 50% {
  opacity:0
 }
}
@keyframes gost {
 0%,100% {
  opacity:1
 }
 50% {
  opacity:0
 }
}
.input-wrapper>img {
 width:1.25rem;
 height:1.25rem;
 position:absolute;
 right:1.063rem;
 top:1.063rem;
 -webkit-transition:-webkit-transform .2s;
 transition:-webkit-transform .2s;
 transition:transform .2s;
 transition:transform .2s,-webkit-transform .2s
}
.input-wrapper.opened>img {
 -webkit-transform:rotate(180deg);
 -ms-transform:rotate(180deg);
 transform:rotate(180deg)
}
.choice-wrapper {
 border-top:.0703rem solid #ebebeb;
 background-color:#f0f0f0;
 max-height:0;
 overflow:hidden;
 -webkit-transform:translate3d(0,0,0);
 transform:translate3d(0,0,0);
 -webkit-transition:max-height .2s ease-out;
 transition:max-height .2s ease-out
}
.choice-wrapper.opened {
 height:auto;
 max-height:21.875rem
}
.choice-wrapper ul {
 width:100%;
 padding:.938rem 0 0;
 text-align:center;
 font-size:0
}
.choice-wrapper ul>li {
 display:inline-block;
 background-color:#fff;
 margin-bottom:.938rem;
 margin-right:.813rem;
 font-size:.875rem;
 color:#000;
 line-height:2rem;
 border-radius:.125rem;
 cursor:pointer
}
.choice-wrapper ul>li a,.choice-wrapper ul>li img,.choice-wrapper ul>li video {
 display:block;
 width:100%
}
.choice-wrapper ul>li.li-2:nth-of-type(2n),.choice-wrapper ul>li.li-3:nth-of-type(3n),.choice-wrapper ul>li.li-f-2 {
 margin-right:0
}
.choice-wrapper ul>li p {
 font-size:.625rem;
 line-height:2.5;
 white-space:nowrap
}
.choice-wrapper ul>li a {
 height:100%;
 text-decoration:none;
 color:inherit
}
.call-pics .step-1,.call-pics .step-2,.call-pics video,.full-pics {
 display:none
}
.choice-wrapper ul>li.disabled {
 background-color:#ccc!important
}
.choice-wrapper ul>li.no-border {
 border:0
}
.choice-wrapper ul>li.bg-trsp {
 background-color:transparent
}
.choice-wrapper ul>li.no-br {
 border-radius:0
}
.choice-wrapper ul>li.li-h {
 line-height:2.5rem
}
.choice-wrapper ul>li.li-2 {
 width:9.75rem
}
.choice-wrapper ul>li.li-3 {
 width:6.25rem
}
.choice-wrapper ul>li.li-f-1 {
 width:100%;
 margin-right:0;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 border-left:0;
 border-right:0;
 border-bottom:0
}
.choice-wrapper ul>li.li-f-2 {
 width:50%;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 border-left:0;
 border-bottom:0
}
.choice-wrapper ul>li.li-f-2:nth-of-type(2n) {
 border-right:0
}
.choice-wrapper .main-choice>li {
 color:#fff
}
.choice-wrapper .main-choice>li:nth-of-type(1) {
 background-color:#e24e4e
}
.choice-wrapper .main-choice>li:nth-of-type(2) {
 background-color:#f2862f
}
.choice-wrapper .main-choice>li:nth-of-type(3) {
 background-color:#f1b40f
}
.choice-wrapper .main-choice>li:nth-of-type(4) {
 background-color:#b3c420
}
.choice-wrapper .main-choice>li:nth-of-type(5) {
 background-color:#72b324
}
.choice-wrapper .main-choice>li:nth-of-type(6) {
 background-color:#1ab97f
}
.choice-wrapper .main-choice>li:nth-of-type(7) {
 background-color:#04bad0
}
.choice-wrapper .main-choice>li:nth-of-type(8) {
 background-color:#4f71e0
}
.choice-wrapper .main-choice>li:nth-of-type(9) {
 background-color:#c24bd8
}
.choice-wrapper .main-choice .li-f-1[registered=true] {
 background-color:#ccc
}
.choice-wrapper .reg-choice .li-f-1 {
 margin-bottom:0;
 line-height:2.5rem;
 color:#000;
 display:none
}
.choice-wrapper .sup-choice .li-3 {
 margin-bottom:.313rem
}
.choice-wrapper .sup-choice .li-f-2 {
 margin-bottom:0;
 border-top:1px solid #d4d4d4;
 border-right:1px solid #d4d4d4;
 line-height:2.5rem
}
.choice-wrapper .sup-choice .ul-sub {
 padding-top:0
}
.emoji-canvas {
 width:100%;
 position:absolute;
 top:-2.5rem;
 left:0;
 z-index:20;
 pointer-events:none
}
.loading,.loading .loader {
 left:50%;
 top:50%;
 position:absolute
}
.loading {
 height:3.125rem;
 width:3.125rem;
 -webkit-transform:translate(-50%,-50%);
 -ms-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%)
}
.loading .loader {
 margin-top:-.313rem;
 margin-left:-.063rem
}
.full-pics {
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 right:0;
 z-index:1000;
 background-color:rgba(0,0,0,.9);
 cursor:pointer
}
.full-pics .pic {
 position:fixed;
 left:50%;
 top:50%;
 min-width:5rem!important;
 min-height:5rem!important;
 width:5rem;
 height:5rem;
 margin-top:-2.5rem;
 margin-left:-2.5rem
}
.full-pics img {
 max-width:100%;
 max-height:100%;
 position:absolute;
 top:50%;
 left:50%;
 -webkit-transform:translate(-50%,-50%);
 -ms-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%)
}
.call-pics .pic {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 margin-top:0;
 margin-left:0
}
.call-pics img,.call-pics video {
 width:22.5rem;
 height:40rem;
 max-width:none;
 max-height:none
}
.call-pics .video-action {
 position:absolute;
 z-index:1024;
 bottom:6.25rem;
 width:3.125rem;
 padding-top:3.75rem;
 font-size:.75rem;
 color:#fff;
 text-align:center;
 background-size:3.125rem 3.125rem
}
.fullpage-overlay,.train {
 bottom:0;
 position:absolute
}
.call-pics .video-action.video-start {
 background-image:url(http://c1.mifile.cn/f/i/hd/2016051101/v-start.png);
 right:5rem
}
.call-pics .video-action.video-decline,.call-pics .video-action.video-stop {
 background-image:url(http://c1.mifile.cn/f/i/hd/2016051101/v-decline.png)
}
.call-pics .video-action.video-decline {
 left:5rem
}
.call-pics .video-action.video-stop {
 left:50%;
 margin-left:-1.563rem
}
.map-wrapper .map {
 width:14.219rem;
 height:20.313rem;
 background:url(http://c1.mifile.cn/f/i/hd/2016051101/map.jpg) center center no-repeat;
 background-size:14.219rem 20.313rem
}
.map-wrapper .map .map-pointer {
 position:absolute;
 width:.875rem;
 height:.875rem;
 background-color:#09f;
 border-radius:.438rem;
 left:8.438rem;
 top:1.125rem
}
.map-wrapper .map .map-pointer:before {
 position:absolute;
 top:-.438rem;
 left:-.438rem;
 width:1.75rem;
 height:1.75rem;
 border-radius:50%;
 background-color:rgba(0,153,255,.3)
}
@-webkit-keyframes blink {
 0% {
  opacity:1
 }
 100% {
  opacity:0
 }
}
@keyframes blink {
 0% {
  opacity:1
 }
 100% {
  opacity:0
 }
}
@-webkit-keyframes animate-map-pointer {
 0% {
  -webkit-transform:translate(0,0);
  transform:translate(0,0)
 }
 10% {
  -webkit-transform:translate(1.313rem,2rem);
  transform:translate(1.313rem,2rem)
 }
 25% {
  -webkit-transform:translate(-.563rem,4.344rem);
  transform:translate(-.563rem,4.344rem)
 }
 50% {
  -webkit-transform:translate(.063rem,9.563rem);
  transform:translate(.063rem,9.563rem)
 }
 75% {
  -webkit-transform:translate(-5.25rem,12.406rem);
  transform:translate(-5.25rem,12.406rem)
 }
 100% {
  -webkit-transform:translate(-1.625rem,16.844rem);
  transform:translate(-1.625rem,16.844rem)
 }
}
@keyframes animate-map-pointer {
 0% {
  -webkit-transform:translate(0,0);
  transform:translate(0,0)
 }
 10% {
  -webkit-transform:translate(1.313rem,2rem);
  transform:translate(1.313rem,2rem)
 }
 25% {
  -webkit-transform:translate(-.563rem,4.344rem);
  transform:translate(-.563rem,4.344rem)
 }
 50% {
  -webkit-transform:translate(.063rem,9.563rem);
  transform:translate(.063rem,9.563rem)
 }
 75% {
  -webkit-transform:translate(-5.25rem,12.406rem);
  transform:translate(-5.25rem,12.406rem)
 }
 100% {
  -webkit-transform:translate(-1.625rem,16.844rem);
  transform:translate(-1.625rem,16.844rem)
 }
}
.map-wrapper p {
 margin-top:.625rem
}
.map-wrapper p>span {
 display:inline-block;
 width:1.25rem
}
.map-wrapper.animate .map .map-pointer {
 -webkit-animation:animate-map-pointer 5s linear 1;
 animation:animate-map-pointer 5s linear 1;
 -webkit-animation-fill-mode:forwards;
 animation-fill-mode:forwards
}
.map-wrapper.animate .map .map-pointer:before {
 -webkit-animation:blink .8s infinite reverse;
 animation:blink .8s infinite reverse
}
.train {
 left:100%;
 width:29.563rem;
 height:7.375rem;
 -webkit-transition:-webkit-transform 4s linear;
 transition:-webkit-transform 4s linear;
 transition:transform 4s linear;
 transition:transform 4s linear,-webkit-transform 4s linear
}
.train>img {
 max-height:100%
}
.train.animate {
 -webkit-transform:translate(-220%,0);
 -ms-transform:translate(-220%,0);
 transform:translate(-220%,0)
}
@-webkit-keyframes train {
 0% {
  left:100%
 }
 100% {
  right:100%
 }
}
@keyframes train {
 0% {
  left:100%
 }
 100% {
  right:100%
 }
}
.fullpage-overlay {
 left:0;
 top:0;
 right:0;
 background-color:#000;
 display:none;
 cursor:pointer;
 z-index:1030;
 overflow:hidden
}
.fullpage-overlay .tips-close {
 display:block;
 width:2.313rem;
 height:2.313rem;
 background:url(http://c1.mifile.cn/f/i/hd/2016051101/modal-close.png) center .625rem no-repeat;
 background-size:2.313rem 2.313rem;
 position:absolute;
 left:50%;
 top:50%;
 margin-top:-17.188rem;
 margin-left:-11.875rem;
 padding:.625rem
}
.video-overlay iframe {
 position:absolute;
 width:100%;
 height:50%;
 top:50%;
 left:50%;
 -webkit-transform:translate(-50%,-50%);
 -ms-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%)
}
.video-overlay .tips-close {
 top:.625rem;
 left:.313rem;
 margin-top:0;
 margin-left:0
}
.gallery-overlay {
 background-color:rgba(0,0,0,.9)
}
.gallery-overlay .xm-slide-scroll {
 -webkit-transition:-webkit-transform .5s;
 transition:-webkit-transform .5s;
 transition:transform .5s;
 transition:transform .5s,-webkit-transform .5s
}
.gallery-overlay .xm-slide-pagination {
 position:absolute;
 bottom:1rem;
 width:100%;
 text-align:center;
 line-height:.5rem
}
.gallery-overlay .xm-slide-pagination>li {
 display:inline-block;
 width:.5rem;
 height:.5rem;
 margin:0 .25rem;
 position:relative;
 border-radius:.25rem;
 background-color:#474747
}
.gallery-overlay .xm-slide-pagination>li.current {
 background-color:#a3a3a3
}
.gallery-overlay figure {
 overflow:hidden;
 text-align:center;
 float:left
}
.gallery-overlay img {
 width:20.625rem;
 height:30rem;
 margin-top:-.938rem;
 position:relative
}