.page-1{
    width: 100%;
    height: 100%;
    background: url(../images/bg-page-1.jpg) left top no-repeat;
    background-size: cover;
}

.circular{
    position: absolute;
    top:2rem;
    left: 1rem;
    width: 4.3rem;
    height: 4.3rem;
    border: 1px solid #8a9cac;
    border-radius: 50%;
}

.circular > div { position:absolute; z-index:100; width: .1rem; height: .1rem;border-radius: 50%;border: 1px solid #8a9cac; background-color: #8a9cac;}
.circular > div:nth-child(1){ top:-.05rem;  left: 50%;  animation: dotAn 5s linear 3s infinite; }
.circular > div:nth-child(2){  top:-.05rem; left: 50%; animation: dotAn2 5s linear 3s infinite; }
.circular > img{
    position: absolute;
    display: block;
    top:.15rem;
    left: .15rem;
    width: 4rem;
    height: 4rem;
    animation: rotateCar 6.5s linear 3s infinite;
}


@keyframes dotAn{
    0%{ transform:rotateZ(360deg);transform-origin:0rem 2.2rem;}
    100%{ transform:rotateZ(0deg);transform-origin:0rem 2.2rem;}
}

@keyframes dotAn2{
    0%{ transform:rotateZ(-360deg);transform-origin:0rem 2.2rem;}
    100%{ transform:rotateZ(0deg);transform-origin:0rem 2.2rem;}
}

@keyframes rotateCar {
    0%{ transform:rotateZ(0deg);transform-origin:center center;}
    100%{ transform:rotateZ(360deg);transform-origin:center center;}
}