/**
*loading页
*/
.loading { position:absolute; width: 100%; height: 100%; z-index: 1000; background-color: white; overflow: hidden; }
.loading .content {position: relative; margin:40% auto 0 auto; width: 2.4rem; height:2.4rem; }
.loading .content > img { position:absolute;left: 0; top: 0; width: 100%; animation: rotateCar linear 3s infinite; }
.loading .content > div { position: absolute; top: 35%; width: 100%; text-align: center; }
.loading .content > div p { font-size: .22rem; line-height: 150%; color: black; }
.loading .content > div p:last-child { font-size: .26rem; line-height: 100%;}

#logo {  position: absolute; top:.17rem;left: .18rem;  width: 1.3rem; z-index:1; }
.slideDown { position: absolute; bottom:.3rem;left: 50%; width: .2rem; margin-left: -.1rem; animation: slideAni 1.5s infinite ease-in-out;}

@keyframes slideAni {
    0%,30% {opacity: 0;transform: translate(0,10px);}
    60% {opacity: 1;transform: translate(0,0);}
    100% {opacity: 0;transform: translate(0,-8px);}
}
/**
*首页样式
*/
.page-1{ position:relative; width: 100%;  height: 100%;  background: url(../images/bg-page-1.jpg) left top no-repeat;  background-size: cover; overflow: hidden; }
/**
*圆环
*/
.circle { position: absolute;  top:2rem;  left: 1rem;  width: 4.3rem;  height: 4.3rem;}
.circular{  position: absolute;  top:0rem;  left: 0rem;  width: 4.3rem;  height: 4.3rem;  border: 1px solid #8a9cac;  border-radius: 50%;
    animation: circleAn 3.5s linear 0.5s 1; }
.circular > div { position:absolute; z-index:100; width: .1rem; height: .1rem;border-radius: 50%;border: 1px solid #8a9cac; background-color: #8a9cac;}
.circular > div:nth-child(1){ top:-.055rem;  left: 50%;  animation: dotAn 5s linear 3s infinite; }
.circular > div:nth-child(2){  top:-.055rem; left: 50%; animation: dotAn2 5s linear 3s infinite; }

.circle > img:nth-child(2){  position: absolute;  display: block;  top:.15rem;  left: .15rem;  width: 4rem;  height: 4rem;
    animation: rotateCar 6.5s linear 3s infinite;  }
.circle > img:nth-child(3){ display:none; position:absolute; top:1rem; width: 4.26rem;}

@-webkit-keyframes circleAn{
    0%{ opacity:0;-webkit-transform:rotateX(360deg) translateY(80px);}
    100%{ opacity:1;-webkit-transform:rotateX(0deg) translateY(0px);}
}

@keyframes dotAn{
    0%{ transform:rotateZ(360deg);transform-origin:0rem 2.2rem;}
    100%{ transform:rotateZ(0deg);transform-origin:0rem 2.2rem;}
}

@keyframes dotAn2{
    0%{ transform:rotateZ(-360deg);transform-origin:0rem 2.2rem;}
    100%{ transform:rotateZ(0deg);transform-origin:0rem 2.2rem;}
}

@keyframes rotateCar {
    0%{ transform:rotateZ(0deg);transform-origin:center center;}
    100%{ transform:rotateZ(360deg);transform-origin:center center;}
}


.line-right,.line-left {position: absolute; width: 1.07rem;}
.line-right { top:.8rem; right: 0;}
.line-left { top:6.2rem; left: 0;}
.first-car { position: absolute;top:6.64rem;left: .62rem; width:4.7rem; }


.btn { position: absolute; right: 0rem; top:8rem;  width: 2rem; height: .8rem; background-color: #e9f0ef; transform: rotate(-45deg);}
.btn:before{  content: "";  right: 100%;  top: 0;  position: absolute;  width:.4rem;  height:.8rem;  border-radius:.4rem 0 0 .4rem;  background:#e9f0ef;  }
.btn:after {  content: "";  width: 0;  height: 0;  left: 100%;  top: 0;  position: absolute;  border-top: .8rem solid #e9f0ef;  border-right: .8rem solid transparent;  }


.btn-live {  position: absolute;  right: 0;  top: 7.2rem;  display: block;  width: 1.2rem;  height: 1.53rem;
    background: url(../images/icon-live-.png) left top no-repeat;  background-size: cover;  z-index: 1;  }

.btn-more {  position: absolute;  right: 0;  top: 8.2rem;  display: block;  width: 1.36rem;  height: 1.67rem;
    background: url(../images/icon-more-.png) left top no-repeat;  background-size: cover;  }

