@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/*声明 WebFont*/
@font-face {
  font-family: '苏新诗古印宋简';
  src: url("../fonts/h5.ttf");
  src: url("../fonts/h5.eot?#font-spider") format("embedded-opentype"), url("../fonts/h5.woff") format("woff"), url("../fonts/h5.ttf") format("truetype"), url("../fonts/h5.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 20px;
  height: 100%;
  background-color: #fff;
  overflow: hidden; }

body {
  font-size: 0.32rem; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  outline: none; }

input, select, textarea {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  vertical-align: middle; }

.loading {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #004b8f;
  overflow: hidden; }
  .loading .content {
    width: 100%;
    margin-top: 2.46667rem;
    overflow: hidden; }
    .loading .content .light {
      width: 1.29333rem;
      height: 2.01333rem;
      margin: 0 auto;
      background-image: url("../images/img_light.png");
      background-repeat: no-repeat;
      background-size: 3.88rem 2.01333rem; }
    .loading .content p {
      text-align: center;
      color: white; }
    .loading .content .bold {
      margin-top: 1rem;
      font-size: 1.3em;
      font-weight: bold; }
    .loading .content .desc {
      margin-top: 0.33333rem; }
    .loading .content .percentage {
      margin-top: 1.06667rem; }

.box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .box .logo {
    position: absolute;
    z-index: 10;
    top: 0.38667rem;
    left: 0.53333rem;
    width: 2.45333rem; }
  .box .btn_music {
    position: absolute;
    z-index: 10;
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    top: 0.32rem;
    right: 0.26667rem;
    background-image: url("../images/icon_music.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.6rem 0.6rem; }

.pg_f {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/bg_pg_1.jpg") 0 0 no-repeat;
  background-size: cover;
  overflow: hidden; }
  .pg_f .r1 {
    position: relative;
    width: 9.26667rem;
    margin: 1.33333rem auto 0 auto;
    text-align: center;
    overflow: hidden; }
    .pg_f .r1 .dots {
      display: none;
      position: absolute;
      left: 50%;
      margin-left: -3.42667rem;
      width: 6.86667rem; }
    .pg_f .r1 .left_wed {
      position: absolute;
      left: 0.86667rem;
      top: 2.24rem;
      width: 1.09333rem; }
    .pg_f .r1 .right_wed {
      position: absolute;
      right: 2.2rem;
      width: 1.30667rem; }
    .pg_f .r1 .web {
      margin-top: 0.26667rem;
      width: 5.36rem; }
    .pg_f .r1 .web2 {
      width: 9.26667rem; }
    .pg_f .r1 .people {
      width: 3.10667rem; }
    .pg_f .r1 .wave {
      position: absolute;
      width: 0.76rem;
      top: 4rem;
      left: 0.53333rem; }
    .pg_f .r1 .wave_r {
      position: absolute;
      width: 0.76rem;
      top: 5.06667rem;
      right: 0.26667rem; }
    .pg_f .r1 .start {
      position: absolute;
      left: 1.49333rem;
      top: 3.89333rem;
      width: 0.26667rem;
      transform: rotate(-40deg); }
  .pg_f .btn_beginTest {
    display: block;
    margin: 0.2rem auto 0 auto;
    width: 2.84rem;
    height: 0.84rem;
    background: url("../images/btn_short.png") 0 0 no-repeat;
    background-size: cover;
    text-align: center; }
    .pg_f .btn_beginTest span {
      color: white;
      line-height: 0.84rem;
      letter-spacing: 2px;
      font-size: 1.3em;
      text-shadow: 0 0 3px #FF0000; }

.traffic_light {
  animation-name: traffic_light;
  animation-duration: 1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite; }

@keyframes traffic_light {
  from {
    background-position: 0; }
  to {
    background-position: -3.88rem 0; } }
