.section1Ani {
  animation: pageShow 2s ease normal forwards;
  -webkit-animation: pageShow 2s ease normal forwards;
}
@keyframes pageShow
{
  to {opacity:1;}
}

@-webkit-keyframes pageShow /* Safari and Chrome */
{
  to {opacity:1;}
}

.section1OutAni {
  transform-origin: center 40%;
  -webkit-transform-origin: center 40%;
  animation: pageOut 3s ease normal forwards;
  -webkit-animation: pageOut 3s ease normal forwards;
}
@keyframes pageOut
{
  from {opacity: 1;}
  to {transform: scale(20); opacity: 0;}
}

@-webkit-keyframes pageOut /* Safari and Chrome */
{
  from {opacity: 1;}
  to {-webkit-transform: scale(20); opacity: 0;}
}

.section2InAni {
  transform-origin: 35% 30%;
  -webkit-transform-origin: 35% 30%;
  animation: pageIn 2s ease-out normal forwards;
  -webkit-animation: pageIn 2s ease-out normal forwards;
}

@keyframes pageIn
{
  from {transform: scale(20);opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}

@-webkit-keyframes pageIn /* Safari and Chrome */
{
  from {-webkit-transform: scale(20);opacity: 0;}
  to {-webkit-transform: scale(1); opacity: 1;}
}

.btnNucleusAni {
  -webkit-animation: nucleus 2s infinite ease-in-out forwards;
  -moz-animation: nucleus 2s infinite ease-in-out forwards;
  animation: nucleus 2s infinite ease-in-out forwards;
}

/*
* 灯光效果
*/
.lightStart {
  -webkit-animation: lightAnimation 1s ease-in-out both infinite alternate;
  animation: lightAnimation 1s ease-in-out both infinite alternate;
}

@-webkit-keyframes lightAnimation {
  0% {opacity:0.4;}
  100% {opacity:1;}
}
@keyframes lightAnimation {
  0% {opacity:0.4;}
  100% {opacity:1;}
}

/**
 * 光晕效果
 */
@keyframes nucleus {
  0% {
    box-shadow: 0 0 1rem #8B2310;
  }
  50% {
    box-shadow: 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 1rem #8B2310;
  }
}

@-webkit-keyframes nucleus {
  0% {
    box-shadow: 0 0 1rem #8B2310;
  }
  50% {
    box-shadow: 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 1rem #8B2310;
  }
}

.finger{
  animation: fingerAni 1.5s ease infinite both;
}

@keyframes fingerAni {
  from { transform: translate3D(100%,0,0);}
  to { transform: translate3D(-100%,0,0);}
}

@-webkit-keyframes fingerAni {
  from { -webkit-transform: translate3D(100%,0,0); transform: translate3D(100%,0,0);}
  to { -webkit-transform: translate3D(-100%,0,0); transform: translate3D(-100%,0,0);}
}

.car-1{
  display: none;
  position: absolute;
  top: 50%;
  margin-top: 3.78rem;
  width: 9rem;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.car-2{
  display: none;
  position: absolute;
  top: 50%;
  margin-top: 3.5rem;
  left: 4rem;
  width: 11rem;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
.carIn-2 {
  animation-name: carIn-2;
  -webkit-animation-name: carIn-2;
}
@keyframes carIn-2 {
  from{ opacity: 0; transform:scale(.8) translate3D(30%,5%,0);}
  to{ opacity: 1; transform: none;}
}
@-webkit-keyframes carIn-2 {
  from{ opacity: 0; -webkit-transform:scale(.8) translate3D(30%,5%,0);}
  to{ opacity: 1; -webkit-transform: none;}
}

.carIn-1 {
  animation-name: carIn-1;
  -webkit-animation-name: carIn-1;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@keyframes carIn-1 {
  from{ opacity: 0; transform: translate3D(20%,5%,0);}
  to{ opacity: 1; transform: none;}
}

#shareDialog .shareCar {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  width: 4rem;
  animation: carAni 1s linear .5s;
  -webkit-animation: carAni 1s linear .5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes carAni {
  0% { transform: translate(-100%, 100%);}
  100% { transform: translate(0, 0);}
}

@-webkit-keyframes carAni {
  0% { -webkit-transform: translate(-100%, 100%);transform: translate(-100%, 100%);}
  100% { -webkit-transform: translate(0, 0); transform: translate(0, 0);}
}