.shareCarAni {
  -webkit-animation: animatedShareCar 2s infinite linear;
  animation: animatedShareCar 2s infinite linear;
}
@keyframes animatedShareCar {
  0% {
    top: 14rem;
    right: 15rem;
    transform: rotate(35deg);
    opacity: 0;
  }
  10% {
    top: 9rem;
    right: 11rem;
    opacity: 1;
    transform: rotate(0deg);
  }
  40% {
    top: 5rem;
    right: 10rem;
    transform: rotate(15deg);
    opacity: 1;
  }
  50% {
    top: 4rem;
    right: 9.2rem;
    transform: rotate(35deg);
    opacity: 1;
  }
  60% {
    top: 3rem;
    right: 7.5rem;
    transform: rotate(65deg);
    opacity: 1;
  }
  65% {
    top: 2rem;
    right: 4rem;
    transform: rotate(65deg);
    opacity: 1;
  }
  70% {
    top: 1rem;
    right: 2rem;
    transform: rotate(60deg);
    opacity: 1;
  }
  80% {
    top: 1rem;
    right: 2rem;
    transform: rotate(50deg);
    opacity: 1;
  }
  100% {
    top: 0;
    right: 1rem;
    opacity: 0;
  }
}
@-webkit-keyframes animatedShareCar {
  0% {
    top: 14rem;
    right: 15rem;
    -webkit-transform: rotate(35deg);
    opacity: 0;
  }
  10% {
    top: 9rem;
    right: 11rem;
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
  40% {
    top: 5rem;
    right: 10rem;
    -webkit-transform: rotate(15deg);
    opacity: 1;
  }
  50% {
    top: 4rem;
    right: 9.2rem;
    -webkit-transform: rotate(35deg);
    opacity: 1;
  }
  60% {
    top: 3rem;
    right: 7.5rem;
    -webkit-transform: rotate(65deg);
    opacity: 1;
  }
  65% {
    top: 2rem;
    right: 4rem;
    -webkit-transform: rotate(65deg);
    opacity: 1;
  }
  70% {
    top: 1rem;
    right: 2rem;
    -webkit-transform: rotate(60deg);
    opacity: 1;
  }
  80% {
    top: 1rem;
    right: 2rem;
    -webkit-transform: rotate(50deg);
    opacity: 1;
  }
  100% {
    top: 0;
    right: 1rem;
    opacity: 0;
  }
}

.handAni {
  -webkit-animation: handAnimated 2s infinite linear;
  animation: handAnimated 2s infinite linear;
}

@keyframes handAnimated  {
  20% {opacity: 1;}
  50%{opacity:1;margin-top:3.5rem;}
  100%{opacity:0;margin-top:3.5rem;transform:perspective(500px) scale3d(.8,.8,.8)}
}
@-webkit-keyframes handAnimated {
  20% {opacity: 1;}
  50%{opacity:1;margin-top:3.5rem;}
  100%{opacity:0;margin-top:3.5rem;-webkit-transform:perspective(500px) scale3d(.8,.8,.8);transform:perspective(500px) scale3d(.8,.8,.8)}
}

.snowAni {
  -webkit-animation: snowAnimated 3s ease-in-out alternate infinite;
  animation: snowAnimated 3s ease-in-out alternate infinite;
}
@keyframes snowAnimated {
  to {
    right: 0.3rem;
  }
}
@-webkit-keyframes snowAnimated {
  to {
    right: 0.3rem;
  }
}

.cloud1Ani {
  -webkit-animation: cloud1Animated 8s linear infinite;
  animation: cloud1Animated 8s linear infinite;
}
.cloud2Ani {
  -webkit-animation: cloud1Animated 8s linear  infinite;
  animation: cloud1Animated 8s linear infinite;
}
.cloud3Ani {
  -webkit-animation: cloud3Animated 8s linear infinite;
  animation: cloud3Animated 8s linear infinite;
}
@keyframes cloud1Animated {
  0% {
    opacity: 1;
  }
  70% {
    margin-right: 5rem;
    opacity: 1;
  }
  100% {
    margin-right: 6rem;
    opacity: 0;
  }
}
@-webkit-keyframes cloud1Animated {
  0% {
    opacity: 1;
  }
  70% {
    margin-right: 5rem;
    opacity: 1;
  }
  100% {
    margin-right: 6rem;
    opacity: 0;
  }
}
@keyframes cloud3Animated {
  0% {
    opacity: 1;
  }
  70% {
    margin-left: -5rem;
    opacity: 1;
  }
  100% {
    margin-left: -6rem;
    opacity: 0;
  }
}
@-webkit-keyframes cloud3Animated {
  0% {
    opacity: 1;
  }
  70% {
    margin-left: -5rem;
    opacity: 1;
  }
  100% {
    margin-left: -6rem;
    opacity: 0;
  }
}