@import "common";
.menuDiv {
  width: 100%;
  height: 86px;
  background: #171d59 url("../img/14/14-topBg.jpg") no-repeat center 0;
  .menu {
    display: block;
    width: 1200px;
    height: 136px;
    margin: 0 auto;
    a {
      float: left;
      padding: 0 20px;
      font-size: 16px;
      height: 86px;
      color: white;
      line-height: 86px;
      cursor: pointer;
    }
    .hover {
      color: white;
      background-color: #000;
    }
  }
  .btnSearch {
    float: right;
    width: 40px;
    height: 30px;
    margin-top: 25px;
    background: #F6F7F8 url("../img/01/1-search.png") no-repeat center;
    background-size: 20px auto;
  }
  input {
    float: right;
    margin: 25px 0;
    width: 220px;
    height: 30px;
    line-height: 30px;
    text-indent: 5px;
    font-size: 12px;
    color: #7F8081;
    background-color: #F6F7F8;
  }
}

.contentFrame {
  display: block;
  margin: 0 auto 30px;
  width: 1200px;
  padding-bottom: 20px;
  background-color: #F6F7F8;
  border: 1px solid #D6D7D8;
  .titleFrame {
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1E2A82;
    color: #1E2A82;
    .title {
      font-size: 20px;
      line-height: 26px;
      padding-top: 30px;
      margin-left: 20px;
      font-weight: bold;
    }
    .subTitle {
      margin-left: 20px;
      font-size: 10px;
    }
    .items {
      float: right;
      width: 360px;
      text-align: right;
      vertical-align: top;
      margin-top: 50px;
      margin-right: 20px;
      a {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 60px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        margin-left: 5px;
        font-size: 12px;
        color: #7F8081;
        background-color: #EFF0F1;
        vertical-align: top;
      }
      .hover {
        color: white;
        background-color: #1E2A82;
      }
    }
  }
  .detail {
    margin: 0 10px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #646465;
  }

  table {
    width: 1180px;
    margin-left: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    border: 1px solid #F1F2F3;
    background-color: #EFF0F1;
    tr, td, th {border:1px solid #F1F2F3; height: 25px; line-height: 25px}
    th {
      text-align: center;
      margin-left: 5px;
      color: #646465;
      font-size: 14px;
    }
    td {
      text-align: center;
      color: #808081;
      span {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        margin-left: 5px;
        border: 1px solid #646465;
        background-color: white;
      }
    }
    .td1 {
      width: 140px;
      text-align: left;
      padding-left: 20px;
      color: #646465;
      font-weight: bold;
    }
    .td2 {
      text-align: left;
    }
  }

  .menu {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 1180px;
    height: 40px;
    padding-bottom: 10px;
    color: #646465;
    border-bottom: 1px solid #EFF0F1;
    .leftFrame {
      float: left;
      width: 550px;
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
    }
    .rightFrame {
      float: right;
      width: 400px;
      text-align: right;
      margin-top: 20px;
      a {
        font-size: 12px;
        line-height: 20px;
        width: 80px;
        margin-left: 20px;
      }
      a:hover {
        color: #1E2A82;
      }
    }
  }
  .p1 {
    margin: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #646465;
  }

}

.linkFrame {
  display: block;
  margin: 0 auto 30px;
  width: 1200px;
  .item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 380px;
    margin-left: 21px;
    padding-bottom: 20px;
    background-color: #F6F7F8;
    border: 1px solid #D6D7D8;
    .title {
      display: block;
      margin: 10px auto;
      height: 38px;
      font-size: 18px;
      font-weight: bold;
      line-height: 38px;
      text-indent: 10px;
      border-bottom: 2px solid #1E2A82;
      color: #1E2A82;
    }
    p {
      font-size: 12px;
      margin: 0 10px;
      height: 24px;
      line-height: 24px;
      color: #646465;
    }
  }
  .item1 {
    margin-left: 0;
  }
}