@charset "UTF-8";
@import url(bootstrap.min.css);
* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  min-width: 1200px;
  background-color: #FFFFFF;
  font-family: "Microsoft YaHei UI", "微软雅黑", "宋体", sans-serif; }

input {
  -webkit-appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox3.5+*/
  -webkit-box-sizing: border-box;
  /*Safari3.2+*/
  border: none;
  font-size: 16px;
  margin-left: 5px;
  padding-left: 10px; }

input::-ms-clear {
  display: none; }

.header {
  width: 100%;
  height: 60px;
  background-color: white; }
  .header .leftDiv {
    float: left; }
    .header .leftDiv .logo {
      float: left;
      margin: 10px 70px 10px 20px; }
    .header .leftDiv .item {
      float: left;
      width: 100px;
      font-size: 22px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      cursor: pointer;
      color: #5D5E5F; }
    .header .leftDiv .hover {
      color: white;
      background-color: #2753A4; }
  .header .rightDiv {
    float: right;
    height: 60px; }
    .header .rightDiv input {
      float: right;
      width: 190px;
      height: 32px;
      margin-top: 14px;
      border-radius: 3px;
      border: 1px solid #A7AAB1;
      background: url("../img/01/1-search.png") no-repeat 160px center; }
    .header .rightDiv .msgCount {
      position: absolute;
      right: 95px;
      margin-top: 5px;
      width: 20px;
      height: 20px;
      color: white;
      text-align: center;
      line-height: 20px;
      border-radius: 20px;
      font-size: 10px;
      background-color: #EA6247; }
    .header .rightDiv .menu {
      float: right;
      height: 100%;
      background-color: white;
      padding-left: 30px; }
      .header .rightDiv .menu .headImg {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-left: 10px;
        vertical-align: middle; }
      .header .rightDiv .menu .userName {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 100px;
        height: 60px;
        line-height: 60px;
        text-indent: 20px;
        color: #757677; }
        .header .rightDiv .menu .userName .arrow {
          margin-left: 10px; }
      .header .rightDiv .menu .subMenu {
        position: absolute;
        left: 50%;
        top: 100px;
        margin-left: 330px;
        width: 170px;
        background-color: #EFF0F1;
        z-index: 2; }
        .header .rightDiv .menu .subMenu .item {
          display: block;
          text-align: center;
          width: 100%;
          font-size: 16px;
          height: 60px;
          line-height: 60px; }
          .header .rightDiv .menu .subMenu .item p {
            text-align: center; }
        .header .rightDiv .menu .subMenu .line {
          width: 150px;
          height: 1px;
          margin-left: 10px;
          background-color: #636465; }
        .header .rightDiv .menu .subMenu .item:hover {
          background-color: #2753A4; }
          .header .rightDiv .menu .subMenu .item:hover p {
            color: white; }

.topDiv {
  width: 100%;
  height: 86px;
  background: #171d59 url("../img/14/14-topBg.jpg") no-repeat center 0; }
  .topDiv .content {
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 100%; }
    .topDiv .content .leftDiv {
      float: left;
      width: 500px;
      height: 86px;
      line-height: 86px;
      color: white; }
    .topDiv .content .rightDiv {
      float: right;
      width: 500px;
      height: 86px; }
      .topDiv .content .rightDiv .dropdown {
        float: right;
        width: 120px;
        margin-top: 28px;
        margin-right: 10px; }
        .topDiv .content .rightDiv .dropdown .dropdown-toggle {
          width: 120px;
          text-align: left;
          background: #EFF0F1 url("../img/14/14-arrow.png") no-repeat 100px center;
          border: none; }
      .topDiv .content .rightDiv .btnSearch {
        float: right;
        width: 40px;
        height: 30px;
        margin-top: 28px;
        background: #EFF0F1 url("../img/01/1-search.png") no-repeat center;
        background-size: 20px auto; }
      .topDiv .content .rightDiv input {
        float: right;
        width: 220px;
        height: 30px;
        line-height: 30px;
        text-indent: 5px;
        margin-top: 28px;
        font-size: 14px;
        color: #7F8081;
        background-color: #EFF0F1; }

.navigation {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 48px;
  line-height: 48px; }
  .navigation img {
    float: left;
    margin-top: 17px;
    margin-right: 5px; }
  .navigation a {
    color: #808182;
    margin-right: 3px;
    font-size: 12px; }

.footer {
  width: 100%;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #A3A4A5; }

a:link {
  text-decoration: none;
  color: #000; }

/* 没访问过的链接样式 */
a:visited {
  text-decoration: none;
  color: #000; }

/* 访问过的链接样式 */
a:hover {
  text-decoration: none;
  color: #000; }

/* 鼠标进入链接区域的链接样式 */
a:active {
  text-decoration: none;
  color: #000; }

/* 点击链接时的链接样式 */
.menuDiv {
  width: 100%;
  height: 86px;
  background: #171d59 url("../img/14/14-topBg.jpg") no-repeat center 0; }
  .menuDiv .menu {
    display: block;
    width: 1200px;
    height: 136px;
    margin: 0 auto; }
    .menuDiv .menu a {
      float: left;
      padding: 0 20px;
      font-size: 16px;
      height: 86px;
      color: white;
      line-height: 86px;
      cursor: pointer; }
    .menuDiv .menu .hover {
      color: white;
      background-color: #000; }
  .menuDiv .btnSearch {
    float: right;
    width: 40px;
    height: 30px;
    margin-top: 25px;
    background: #F6F7F8 url("../img/01/1-search.png") no-repeat center;
    background-size: 20px auto; }
  .menuDiv input {
    float: right;
    margin: 25px 0;
    width: 220px;
    height: 30px;
    line-height: 30px;
    text-indent: 5px;
    font-size: 12px;
    color: #7F8081;
    background-color: #F6F7F8; }

.contentFrame {
  display: block;
  margin: 0 auto 30px;
  width: 1200px;
  padding-bottom: 20px;
  background-color: #F6F7F8;
  border: 1px solid #D6D7D8; }
  .contentFrame .titleFrame {
    height: 70px;
    line-height: 70px;
    border-bottom: 2px solid #1E2A82;
    color: #1E2A82; }
    .contentFrame .titleFrame p {
      float: left;
      width: 160px;
      height: 30px;
      line-height: 30px;
      margin-top: 20px;
      font-size: 20px;
      color: #1E2A82;
      font-weight: bold; }
      .contentFrame .titleFrame p img {
        float: left;
        margin-right: 5px;
        margin-left: 20px; }
    .contentFrame .titleFrame .btnSearch {
      float: right;
      width: 40px;
      height: 30px;
      margin-top: 20px;
      margin-right: 20px;
      background: #EFF0F1 url("../img/01/1-search.png") no-repeat center; }
    .contentFrame .titleFrame input {
      float: right;
      width: 220px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      color: #7F8081;
      margin-top: 20px;
      text-indent: 5px;
      background-color: #EFF0F1; }
  .contentFrame .itemFrame {
    display: block;
    margin: 20px auto 0;
    width: 1160px; }
    .contentFrame .itemFrame .item {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 380px;
      margin-left: 5px;
      border: 1px solid #E6E7E8; }
      .contentFrame .itemFrame .item .content {
        box-sizing: border-box;
        width: 100%;
        height: 160px;
        background-color: #FEFFFF; }
        .contentFrame .itemFrame .item .content .closeItem {
          float: right;
          width: 31px;
          height: 31px;
          border-left: 1px solid #E6E7E8;
          border-bottom: 1px solid #E6E7E8;
          background: #FEFFFF url("../img/10/10-close.png") no-repeat center; }
        .contentFrame .itemFrame .item .content .infoTitle, .contentFrame .itemFrame .item .content .infoSubTitle {
          height: 20px;
          font-size: 14px;
          line-height: 20px;
          margin-left: 10px;
          margin-right: 10px;
          padding-top: 10px; }
        .contentFrame .itemFrame .item .content .infoSubTitle {
          padding-top: 0; }
        .contentFrame .itemFrame .item .content .infoDetail {
          font-size: 12px;
          margin: 10px; }
      .contentFrame .itemFrame .item .date {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        margin-bottom: 0;
        background-color: #FEFFFF; }
        .contentFrame .itemFrame .item .date a {
          float: right;
          color: #7F8081;
          margin-right: 10px;
          line-height: 40px;
          text-align: right; }
      .contentFrame .itemFrame .item textarea {
        width: 360px;
        height: 80px;
        padding: 10px;
        line-height: 24px;
        font-size: 14px;
        border: none;
        background-color: #F6F7F8; }
    .contentFrame .itemFrame .item1 {
      margin-left: 0; }
    .contentFrame .itemFrame .itemHover {
      border: 1px solid #1E2A82; }
      .contentFrame .itemFrame .itemHover .content .closeItem {
        border-left: 1px solid #1E2A82;
        border-bottom: 1px solid #1E2A82;
        background: #1E2A82 url("../img/10/10-closeW.png") no-repeat center; }

/*# sourceMappingURL=page10.css.map */
