@import "bootstrap.min";
@import "common";
p {
  margin: 0;
}
.topDiv {
  width: 100%;
  height: 86px;
  background: #171d59 url("../img/14/14-topBg.jpg") no-repeat center 0;
  .content {
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    .leftDiv {
      float: left;
      width: 500px;
      height: 86px;
      line-height: 86px;
      color: white;
    }
    .rightDiv {
      float: right;
      width: 500px;
      height: 86px;
      .dropdown {
        float: right;
        width: 120px;
        margin-top: 28px;
        margin-right: 10px;
        .dropdown-toggle {
          width: 120px;
          text-align: left;
          background:#EFF0F1 url("../img/14/14-arrow.png") no-repeat 100px center;
          border: none;
        }
      }
      .btnSearch {
        float: right;
        width: 40px;
        height: 30px;
        margin-top: 28px;
        background: #EFF0F1 url("../img/01/1-search.png") no-repeat center;
        background-size: 20px auto;
      }
      input {
        float: right;
        width: 220px;
        height: 30px;
        line-height: 30px;
        text-indent: 5px;
        margin-top: 28px;
        font-size: 14px;
        color: #7F8081;
        background-color: #EFF0F1;
      }
    }
  }
}
.menuDiv {
  width: 100%;
  height: 180px;
  background-color: #EDEEEF;
  .content {
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 180px;
    .item {
      float: left;
      width: 120px;
      height: 180px;
      margin: 0 60px;
      text-align: center;
      .imgFrame {
        display: block;
        width: 70px;
        height: 70px;
        margin: 30px auto 0;
        background: url("../img/01/1-itemBg.png") no-repeat center;
        img {
          margin: 18px auto;
        }
      }
      .title {
        margin-top: 20px;
        font-size: 24px;
        text-align: center;
        color: black;
      }
    }
    .item:hover {
      .imgFrame {
        background: url("../img/01/1-itemBg-hover.png") no-repeat center;
      }
      .title {
        color: #1E2A82;
      }
      .link {
        color: #1E2A82;
        span {
          background: url("../img/01/1-arrowDetail-hover.png") no-repeat center;
        }
      }
    }
  }
}

.msgDiv {
  display: block;
  margin: 30px auto 0;
  width: 1200px;
  background-color: #EDEEEF;
  border: 1px solid #E3E3E4;
  .titleFrame {
    width: 100%;
    height: 55px;
    border-bottom: 2px solid #1E2A82;
    .title {
      float: left;
      color: #1E2A82;
      font-size: 20px;
      font-weight: bold;
      margin-left: 20px;
      height: 55px;
      line-height: 55px;
      img {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
    .state {
      float: left;
      margin-top: 16px;
      margin-left: 20px;
      width: 88px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      color: white;
      background-color: #1E2A82;
    }
    .more {
      float: right;
      color: #2c3890;
      height: 55px;
      line-height: 55px;
      font-size: 16px;
      margin-right: 20px;
      img {
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
  .item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 270px;
    height: 130px;
    margin: 20px 12px;
    border-right: 1px dotted #7b7c7d;
    vertical-align: top;
    .title {
      width: 275px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      color: #232323;
      text-indent: 20px;
      background: url("../img/04/04-arrowRight-normal.png") no-repeat 0 center;
    }
    .detail {
      font-size: 12px;
      line-height: 20px;
      margin: 0 20px;
      color: #7b7c7d;
    }
  }
  .item:hover {
    .title {
      color: #1E2A82;
      background: url("../img/04/04-arrowRight-hover.png") no-repeat 0 center;
    }
  }
}
.tongjiDiv {
  display: block;
  margin: 30px auto 0;
  width: 1200px;
  height: 508px;
  .leftFrame {
    float: left;
    width: 865px;
    height: 100%;
    background-color: #EDEEEF;
    border: 1px solid #E3E3E4;
    .btnPrev {
      position: absolute;
      width: 30px;
      height: 55px;
      margin-top: 200px;
      background: #C9CACB url("../img/04/04-arrowWhiteL.png") no-repeat center;
    }
    .btnNext {
      position: absolute;
      width: 30px;
      height: 55px;
      margin-left: 835px;
      margin-top: 200px;
      background: #1E2A82 url("../img/04/04-arrowWhiteR.png") no-repeat center;
    }
    .titleFrame {
      width: 100%;
      height: 55px;
      border-bottom: 2px solid #1E2A82;
      .title {
        float: left;
        color: #1E2A82;
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
        height: 55px;
        line-height: 55px;
        img {
          margin-right: 10px;
          vertical-align: middle;
        }
      }
      .rightTip {
        float: right;
        text-align: right;
        width: 400px;
        height: 55px;
        line-height: 55px;
        margin-right: 20px;
        span {
          display: inline-block;
          vertical-align: middle;
          width: 30px;
          height: 12px;
          margin-right: 5px;
        }
        .span1 {
          background-color: #1E2A82;
        }
        .span2 {
          background-color: #D7833C;
          margin-left: 20px;
        }
        .span3 {
          background-color: #EDD14E;
          margin-left: 20px;
        }
      }
    }
    .tongjiFrame {
      width: 100%;
      height: 400px;
      background: url("../img/04/04-list.png") no-repeat center;
    }
  }
  .rightFrame {
    float: right;
    width: 300px;
    height: 100%;
    background-color: #EDEEEF;
    border: 1px solid #E3E3E4;
    .titleFrame {
      width: 100%;
      height: 55px;
      border-bottom: 2px solid #1E2A82;
      .title {
        float: left;
        color: #1E2A82;
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
        height: 55px;
        line-height: 55px;
        img {
          margin-right: 10px;
          vertical-align: middle;
        }
      }
      .state {
        float: left;
        margin-top: 16px;
        margin-left: 20px;
        width: 88px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        color: white;
        background-color: #1E2A82;
      }
      .more {
        float: right;
        color: #2c3890;
        height: 55px;
        line-height: 55px;
        font-size: 16px;
        margin-right: 20px;
        img {
          margin-left: 5px;
          vertical-align: middle;
        }
      }
    }
    .itemDiv {
      width: 260px;
      margin: 20px 20px 0;
      .item {
        width: 100%;
        font-size: 18px;
        height: 60px;
        line-height: 60px;
        margin: 20px 0;
        color: #636465;
        border-bottom: 1px dotted #E3E3E4;
        background: url("../img/04/04-arrowSNormal.png") no-repeat right center;
        span {
          display: inline-block;
          width: 26px;
          height: 26px;
          line-height: 26px;
          font-size: 14px;
          text-align: center;
          color: white;
          margin-right: 20px;
          margin-left: 10px;
          background-color: #C9CACB;
          vertical-align: middle;
        }
      }
      .item:hover {
        color: #000;
        background: url("../img/04/04-arrowSHover.png") no-repeat right center;
        span {
          background-color: #1E2A82;
        }
      }
    }

  }
}


.div1 {
  display: block;
  margin: 0 auto 30px;
  width: 1200px;
  .item {
    width: 100%;
    height: 360px;
    background-color: #EDEEEF;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #E3E3E4;
    .titleFrame {
      width: 100%;
      height: 55px;
      border-bottom: 2px solid #1E2A82;
      .title {
        float: left;
        color: #1E2A82;
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
        height: 55px;
        line-height: 55px;
        img {
          margin-right: 10px;
          vertical-align: middle;
        }
      }
      .state {
        float: left;
        margin-top: 16px;
        margin-left: 20px;
        width: 88px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        color: white;
        background-color: #1E2A82;
      }
      .deadLine {
        float: left;
        width: 200px;
        margin-left: 10px;
        line-height: 55px;
        font-size: 14px;
        color: #1E2A82;
      }
      .rightManage {
        float: right;
        color: #1E2A82;
        height: 55px;
        line-height: 55px;
        font-size: 16px;
        margin-right: 20px;
        img {
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
    .infoDiv {
      margin: 20px;
      width: 1160px;
      height: 312px;
      table {
        font-size: 14px;
        color: #7b7c7d;
        border: 1px solid #E3E3E4;
        .tr1,.tr2,.tr3, .tr5 { height: 30px;}
        .tr4 { height: 40px; }
        .tr6 { height: 60px; }
        tr, td, th {border:1px solid #E3E3E4;}
        th {
          margin-left: 15px;
        }
        .th1 {
          width: 120px;
          font-size: 14px;
          line-height: 40px;
          text-align: right;
          vertical-align: top;
        }
        .th2 {
          width: 460px;
          vertical-align: top;
          p {
            margin: 10px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.div2 {
  display: block;
  margin: 0 auto 30px;
  width: 1200px;
  height: 440px;
  background-color: #EDEEEF;
  border: 1px solid #E3E3E4;
  vertical-align: middle;
  .titleFrame {
    width: 100%;
    height: 55px;
    border-bottom: 2px solid #1E2A82;
    .title {
      float: left;
      color: #1E2A82;
      font-size: 20px;
      font-weight: bold;
      margin-left: 20px;
      height: 55px;
      line-height: 55px;
      img {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
    .state {
      float: left;
      margin-top: 16px;
      margin-left: 20px;
      width: 88px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      color: white;
      background-color: #1E2A82;
    }
    .more {
      float: right;
      color: #2c3890;
      height: 55px;
      line-height: 55px;
      font-size: 16px;
      margin-right: 20px;
      img {
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
  .itemDiv {
    margin: 20px;
    .item {
      width: 100%;
      height: 70px;
      margin: 20px 0;
      border-bottom: 1px dotted #E3E3E4;
      .tlFrame {
        float: left;
        width: 480px;
        .title {
          width: 480px;
          height: 30px;
          margin-top: 0;
          color: #727374;
          font-size: 18px;
          line-height: 30px;
        }
        .subTitle {
          width: 480px;
          font-size: 14px;
          line-height: 20px;
          color: #B9BABB;
        }
      }
      .total {
        float: right;
        width: 140px;
        height: 58px;
        font-size: 14px;
        line-height: 58px;
        color: #B9BABB;
        span {
          float: right;
          display: inline-block;
          vertical-align: middle;
          height: 70px;
          line-height: 70px;
          text-align: left;
          text-indent: 20px;
        }
        .liulan {
          background: url("../img/04/04-eye-normal.png") no-repeat 0 center;
        }
        .download {
          margin-left: 20px;
          background: url("../img/04/04-download-normal.png") no-repeat 0 center;
        }
      }
    }
  }
  .item:hover {
    .tlFrame {
      .title, .subTitle {
        color: #1E2A82;
      }
    }
    .total {
      color: #1E2A82;
      .liulan {
        background: url("../img/04/04-eye-hover.png") no-repeat 0 center;
      }
      .download {
        background: url("../img/04/04-download-hover.png") no-repeat 0 center;
      }
    }
  }
}

.dot {
  display: block;
  margin: 0 auto 30px;
  width: 100%;
  height: 34px;
  text-align: center;
  a {
    display: inline-block;
    width: 25px;
    height: 6px;
    color: #626364;
    margin: 5px;
    background-color: #E3E3E4;
  }
  a:hover {
    color: white;
    background-color: #1E2A82;
  }
  .active {
    color: white;
    background-color: #1E2A82;
  }
}