@import "common";

.contentFrame {
  display: block;
  margin: 0 auto 30px;
  width: 1200px;
  height: 1012px;
  background-color: #F6F7F8;
  border: 1px solid #E3E3E4;
  .topFrame {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #1E2A82;
    .title {
      float: left;
      width: 180px;
      height: 70px;
      line-height: 70px;
      color: #1E2A82;
      img {
        float: left;
        margin-right: 10px;
        margin-left: 20px;
        vertical-align: top;
        margin-top: 25px;
      }
      a {
        float: left;
        font-size: 24px;
        font-weight: bold;
        color: #1E2A82;
        height: 70px;
        line-height: 70px;
      }
    }
    .btnOK, .btnBack {
      float: right;
      width: 120px;
      height: 36px;
      line-height: 36px;
      margin-top: 15px;
      text-align: center;
      color: white;
      background-color: #1E2A82;
    }
    .btnBack {
      background-color: #000;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .infoFrame {
    height: 1160px;
    margin: 20px;
    .title {
      width: 560px;
      height: 40px;
      line-height: 40px;
      text-indent: 10px;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      color: #646465;
      background-color: #EFF0F1;
    }
    .leftFrame {
      float: left;
      width: 580px;
      height: 906px;
      border-right: 1px solid #EFF0F1;
      .content {
        .p1,.p2,.p3 {
          margin-left: 10px;
          font-size: 16px;
          height: 40px;
          line-height: 40px;
          color: #646465;
          img {
            margin-right: 10px;
            vertical-align: middle;
          }
        }
        .p2 {
          margin-left: 40px;
        }
        .p3 {
          margin-left: 70px;
        }
      }
    }
    .rightFrame {
      float: right;
      width: 560px;
      height: 906px;
      .titleFrame {
        height: 40px;
        background-color: #EFF0F1;
        .title {
          float: left;
          width: 200px;
        }
        .btnAdd {
          float: right;
          width: 60px;
          height: 40px;
          background: url("../img/17/17-add.png") no-repeat 30px center;
        }
      }
      .content {
        .item {
          margin-top: 20px;
          background-color: #EFF0F1;
          padding-bottom: 20px;
          .headFrame {
            height: 60px;
            .newOne {
              float: left;
              min-width: 80px;
              margin-top: 5px;
              height: 48px;
              text-align: left;
              line-height: 48px;
              margin-left: 10px;
              color: #646465;
              img {
                margin-right: 5px;
                vertical-align: middle;
              }
            }
            .close {
              float: right;
            }
          }

          .p1,.p2,.p3 {
            margin-left: 20px;
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            color: #646465;
            img {
              margin-right: 10px;
              vertical-align: middle;
            }
          }
          .p2 {
            margin-left: 50px;
          }
          .p3 {
            margin-left: 80px;
          }
        }
      }
    }
  }
}