@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  min-width: 1200px;
  background-color: #FFFFFF;
  font-family: "Microsoft YaHei UI", "微软雅黑", "宋体", sans-serif; }

input {
  -webkit-appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox3.5+*/
  -webkit-box-sizing: border-box;
  /*Safari3.2+*/
  border: none;
  font-size: 16px;
  margin-left: 5px;
  padding-left: 10px; }

input::-ms-clear {
  display: none; }

.header {
  width: 100%;
  height: 60px;
  background-color: white; }
  .header .leftDiv {
    float: left; }
    .header .leftDiv .logo {
      float: left;
      margin: 10px 70px 10px 20px; }
    .header .leftDiv .item {
      float: left;
      width: 100px;
      font-size: 22px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      cursor: pointer;
      color: #5D5E5F; }
    .header .leftDiv .hover {
      color: white;
      background-color: #2753A4; }
  .header .rightDiv {
    float: right;
    height: 60px; }
    .header .rightDiv input {
      float: right;
      width: 190px;
      height: 32px;
      margin-top: 14px;
      border-radius: 3px;
      border: 1px solid #A7AAB1;
      background: url("../img/01/1-search.png") no-repeat 160px center; }
    .header .rightDiv .msgCount {
      position: absolute;
      right: 95px;
      margin-top: 5px;
      width: 20px;
      height: 20px;
      color: white;
      text-align: center;
      line-height: 20px;
      border-radius: 20px;
      font-size: 10px;
      background-color: #EA6247; }
    .header .rightDiv .menu {
      float: right;
      height: 100%;
      background-color: white;
      padding-left: 30px; }
      .header .rightDiv .menu .headImg {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-left: 10px;
        vertical-align: middle; }
      .header .rightDiv .menu .userName {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 100px;
        height: 60px;
        line-height: 60px;
        text-indent: 20px;
        color: #757677; }
        .header .rightDiv .menu .userName .arrow {
          margin-left: 10px; }
      .header .rightDiv .menu .subMenu {
        position: absolute;
        left: 50%;
        top: 100px;
        margin-left: 330px;
        width: 170px;
        background-color: #EFF0F1;
        z-index: 2; }
        .header .rightDiv .menu .subMenu .item {
          display: block;
          text-align: center;
          width: 100%;
          font-size: 16px;
          height: 60px;
          line-height: 60px; }
          .header .rightDiv .menu .subMenu .item p {
            text-align: center; }
        .header .rightDiv .menu .subMenu .line {
          width: 150px;
          height: 1px;
          margin-left: 10px;
          background-color: #636465; }
        .header .rightDiv .menu .subMenu .item:hover {
          background-color: #2753A4; }
          .header .rightDiv .menu .subMenu .item:hover p {
            color: white; }

.topDiv {
  width: 100%;
  height: 86px;
  background: #171d59 url("../img/14/14-topBg.jpg") no-repeat center 0; }
  .topDiv .content {
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 100%; }
    .topDiv .content .leftDiv {
      float: left;
      width: 500px;
      height: 86px;
      line-height: 86px;
      color: white; }
    .topDiv .content .rightDiv {
      float: right;
      width: 500px;
      height: 86px; }
      .topDiv .content .rightDiv .dropdown {
        float: right;
        width: 120px;
        margin-top: 28px;
        margin-right: 10px; }
        .topDiv .content .rightDiv .dropdown .dropdown-toggle {
          width: 120px;
          text-align: left;
          background: #EFF0F1 url("../img/14/14-arrow.png") no-repeat 100px center;
          border: none; }
      .topDiv .content .rightDiv .btnSearch {
        float: right;
        width: 40px;
        height: 30px;
        margin-top: 28px;
        background: #EFF0F1 url("../img/01/1-search.png") no-repeat center;
        background-size: 20px auto; }
      .topDiv .content .rightDiv input {
        float: right;
        width: 220px;
        height: 30px;
        line-height: 30px;
        text-indent: 5px;
        margin-top: 28px;
        font-size: 14px;
        color: #7F8081;
        background-color: #EFF0F1; }

.navigation {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 48px;
  line-height: 48px; }
  .navigation img {
    float: left;
    margin-top: 17px;
    margin-right: 5px; }
  .navigation a {
    color: #808182;
    margin-right: 3px;
    font-size: 12px; }

.footer {
  width: 100%;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #A3A4A5; }

a:link {
  text-decoration: none;
  color: #000; }

/* 没访问过的链接样式 */
a:visited {
  text-decoration: none;
  color: #000; }

/* 访问过的链接样式 */
a:hover {
  text-decoration: none;
  color: #000; }

/* 鼠标进入链接区域的链接样式 */
a:active {
  text-decoration: none;
  color: #000; }

/* 点击链接时的链接样式 */
.contentFrame {
  display: block;
  margin: 0 auto 30px;
  width: 1200px;
  height: 852px; }
  .contentFrame .leftFrame {
    float: left;
    width: 240px;
    height: 852px;
    background-color: #F6F7F8;
    border: 1px solid #E3E3E4; }
    .contentFrame .leftFrame .title {
      width: 100%;
      height: 70px;
      line-height: 70px;
      font-size: 20px;
      font-weight: bold;
      text-indent: 20px;
      margin-bottom: 10px;
      color: #1E2A82;
      border-bottom: 2px solid #1E2A82; }
    .contentFrame .leftFrame .content .p1, .contentFrame .leftFrame .content .p2, .contentFrame .leftFrame .content .p3 {
      margin-left: 20px;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      color: #646465; }
      .contentFrame .leftFrame .content .p1 img, .contentFrame .leftFrame .content .p2 img, .contentFrame .leftFrame .content .p3 img {
        margin-right: 10px;
        vertical-align: middle; }
    .contentFrame .leftFrame .content .p2 {
      margin-left: 40px; }
    .contentFrame .leftFrame .content .p3 {
      margin-left: 70px; }
  .contentFrame .middleFrame {
    float: left;
    margin-left: 20px;
    width: 670px;
    height: 852px;
    background-color: white;
    border: 1px solid #E3E3E4; }
    .contentFrame .middleFrame .btnFrame {
      width: 100%;
      height: 70px; }
      .contentFrame .middleFrame .btnFrame .btnSave, .contentFrame .middleFrame .btnFrame .btnSubmit {
        float: right;
        width: 120px;
        height: 36px;
        line-height: 36px;
        margin-top: 22px;
        margin-right: 10px;
        text-align: center;
        color: white;
        background-color: #1E2A82; }
      .contentFrame .middleFrame .btnFrame .btnSubmit {
        background-color: #000;
        margin-left: 10px; }
    .contentFrame .middleFrame .wordFrame {
      width: 100%;
      height: 770px; }
      .contentFrame .middleFrame .wordFrame img {
        width: 100%; }
  .contentFrame .rightFrame {
    float: left;
    margin-left: 20px;
    width: 240px;
    height: 852px;
    background-color: #F6F7F8;
    border: 1px solid #E3E3E4; }
    .contentFrame .rightFrame .topFrame {
      height: 70px;
      border-bottom: 2px solid #1E2A82; }
      .contentFrame .rightFrame .topFrame .item {
        float: left;
        width: 120px;
        text-align: center;
        height: 70px;
        line-height: 70px;
        font-weight: bold;
        color: #646465; }
        .contentFrame .rightFrame .topFrame .item img {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          margin-right: 5px;
          vertical-align: top;
          margin-top: 22px; }
        .contentFrame .rightFrame .topFrame .item .msgCount {
          position: absolute;
          margin-top: 8px;
          margin-left: -5px;
          width: 20px;
          height: 20px;
          color: white;
          text-align: center;
          line-height: 20px;
          border-radius: 20px;
          font-size: 10px;
          background-color: #EA6247; }
      .contentFrame .rightFrame .topFrame .active {
        color: #1E2A82; }
    .contentFrame .rightFrame .menu {
      width: 220px;
      margin-top: 10px;
      height: 30px;
      line-height: 30px;
      margin-left: 15px; }
      .contentFrame .rightFrame .menu p {
        float: left;
        width: 73px;
        height: 30px;
        font-size: 12px;
        text-align: left;
        line-height: 30px; }
        .contentFrame .rightFrame .menu p span {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          width: 10px;
          height: 10px;
          margin-right: 5px;
          vertical-align: top;
          margin-top: 8px;
          background-color: #F6F7F8;
          border: 1px solid #636465; }
      .contentFrame .rightFrame .menu .hover {
        color: #1E2A82; }
        .contentFrame .rightFrame .menu .hover span {
          background-color: #1E2A82;
          border: 1px solid #1E2A82; }
    .contentFrame .rightFrame .divSearch {
      width: 220px;
      height: 30px;
      margin: 10px; }
      .contentFrame .rightFrame .divSearch .btnSearch {
        float: right;
        width: 40px;
        height: 30px;
        background: #EFF0F1 url("../img/01/1-search.png") no-repeat center; }
      .contentFrame .rightFrame .divSearch input {
        float: right;
        width: 180px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #7F8081;
        text-indent: 20px;
        margin: 0;
        padding: 0;
        background-color: #EFF0F1; }
    .contentFrame .rightFrame .content {
      height: 640px; }
      .contentFrame .rightFrame .content .item {
        width: 220px;
        height: 190px;
        background-color: #EFF0F1;
        margin-left: 10px;
        margin-bottom: 10px; }
        .contentFrame .rightFrame .content .item .headFrame {
          height: 50px; }
          .contentFrame .rightFrame .content .item .headFrame .newOne {
            float: left;
            min-width: 80px;
            height: 50px;
            text-align: left;
            line-height: 50px;
            margin-left: 10px;
            color: #646465; }
            .contentFrame .rightFrame .content .item .headFrame .newOne img {
              margin-right: 5px;
              vertical-align: middle; }
        .contentFrame .rightFrame .content .item .pInfo {
          height: 80px;
          margin: 5px 10px;
          line-height: 20px;
          font-size: 14px;
          color: #646465; }
        .contentFrame .rightFrame .content .item .date {
          text-align: right;
          font-size: 12px;
          line-height: 20px;
          color: #646465;
          margin-right: 10px; }
        .contentFrame .rightFrame .content .item .subMenu {
          height: 20px; }
          .contentFrame .rightFrame .content .item .subMenu a {
            float: right;
            height: 20px;
            line-height: 20px;
            margin-left: 10px;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 12px;
            color: #1E2A82;
            border-right: 1px solid #1E2A82; }
          .contentFrame .rightFrame .content .item .subMenu .a1 {
            border-right: none; }
          .contentFrame .rightFrame .content .item .subMenu .msgCount {
            position: absolute;
            margin-top: -5px;
            margin-left: 95px;
            width: 15px;
            height: 15px;
            color: white;
            text-align: center;
            line-height: 15px;
            border-radius: 15px;
            font-size: 10px;
            background-color: #EA6247; }
    .contentFrame .rightFrame .btnIdea {
      display: block;
      margin: 0 auto;
      width: 220px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      color: white;
      background-color: #1E2A82; }

/*# sourceMappingURL=page16.css.map */
