@import "common";

.contentFrame {
  display: block;
  margin: 0 auto 30px;
  width: 1200px;
  height: 746px;
  .leftFrame {
    float: left;
    width: 300px;
    height: 746px;
    background-color: #F6F7F8;
    border: 1px solid #E3E3E4;
    .titleFrame {
      height: 70px;
      line-height: 70px;
      border-bottom: 2px solid #1E2A82;
      img {
        float: left;
        margin-left: 10px;
        margin-top: 25px;
      }
      .btnSearch {
        float: right;
        width: 40px;
        height: 30px;
        margin-right: 10px;
        margin-top: 20px;
        background: #EFF0F1 url("../img/01/1-search.png") no-repeat center;
      }
      input {
        float: right;
        width: 120px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #7F8081;
        margin-top: 20px;
        padding-left: 5px;
        margin-left: 0;
        background-color: #EFF0F1;
      }
    }
    .subItems {
      width: 280px;
      margin-left: 10px;
      .title {
        height: 55px;
        line-height: 55px;
        font-size: 18px;
        color: #333;
        font-weight: bold;
      }
      a {
        margin-right: 10px;
        font-size: 12px;
        line-height: 30px;
        height: 30px;
        color: #646465;
      }
      a:hover {
        color: #1E2A82;
        text-decoration: underline;
      }
    }

  }
  .rightFrame {
    float: right;
    width: 880px;
    height: 746px;
    background-color: #F6F7F8;
    border: 1px solid #E3E3E4;
    .titleFrame {
      height: 70px;
      border-bottom: 2px solid #1E2A82;
      .tradeTmp, .privateTmp, .newTmp {
        float: left;
        width: 90px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #636465;
        margin-left: 20px;
        margin-top: 20px;
      }
      .active {
        color: #1E2A82;
      }
      .newTmp {
        float: right;
        width: 90px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
        color: white;
        margin-right: 20px;
        background-color: #1E2A82;

      }
    }
    .itemFrame {
      width: 880px;
      height: 580px;
      .item {
        float: left;
        width: 248px;
        height: 245px;
        margin: 32px 0 0 32px;
        vertical-align: top;
        background-color: #F6F7F8;
        border: 1px solid #E3E3E4;
        .title {
          width: 228px;
          height: 170px;
          font-size: 24px;
          line-height: 30px;
          padding: 10px;
          background-color: white;
          color: #646465;
        }
        .btnFrame {
          width: 100%;
          line-height: 55px;
          a {
            float: left;
            font-size: 12px;
            color: #646465;
            margin-left: 10px;
            img {
              margin-right: 5px;
            }
          }
          .a1 {
            float: right;
            margin-right: 10px;
          }
        }
      }
    }

    .dot {
      display: block;
      margin: 15px auto 0;
      width: 100%;
      height: 34px;
      text-align: center;
      a {
        display: inline-block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        border: 1px solid #E3E3E4;
        color: #626364;
        margin: 5px;
        background-color: #EDEEEF;
      }
      a:hover {
        color: white;
        background-color: #1E2A82;
      }
      .active {
        color: white;
        background-color: #1E2A82;
      }

    }

  }

}