@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  min-width: 1200px;
  background-color: #FFFFFF;
  font-family: "Microsoft YaHei UI", "微软雅黑", "宋体", sans-serif; }

input {
  -webkit-appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox3.5+*/
  -webkit-box-sizing: border-box;
  /*Safari3.2+*/
  border: none;
  font-size: 16px;
  margin-left: 5px;
  padding-left: 10px; }

input::-ms-clear {
  display: none; }

.header {
  width: 100%;
  height: 60px;
  background-color: white; }
  .header .leftDiv {
    float: left; }
    .header .leftDiv .logo {
      float: left;
      margin: 10px 70px 10px 20px; }
    .header .leftDiv .item {
      float: left;
      width: 100px;
      font-size: 22px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      cursor: pointer;
      color: #5D5E5F; }
    .header .leftDiv .hover {
      color: white;
      background-color: #2753A4; }
  .header .rightDiv {
    float: right;
    height: 60px; }
    .header .rightDiv input {
      float: right;
      width: 190px;
      height: 32px;
      margin-top: 14px;
      border-radius: 3px;
      border: 1px solid #A7AAB1;
      background: url("../img/01/1-search.png") no-repeat 160px center; }
    .header .rightDiv .msgCount {
      position: absolute;
      right: 95px;
      margin-top: 5px;
      width: 20px;
      height: 20px;
      color: white;
      text-align: center;
      line-height: 20px;
      border-radius: 20px;
      font-size: 10px;
      background-color: #EA6247; }
    .header .rightDiv .menu {
      float: right;
      height: 100%;
      background-color: white;
      padding-left: 30px; }
      .header .rightDiv .menu .headImg {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-left: 10px;
        vertical-align: middle; }
      .header .rightDiv .menu .userName {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 100px;
        height: 60px;
        line-height: 60px;
        text-indent: 20px;
        color: #757677; }
        .header .rightDiv .menu .userName .arrow {
          margin-left: 10px; }
      .header .rightDiv .menu .subMenu {
        position: absolute;
        left: 50%;
        top: 100px;
        margin-left: 330px;
        width: 170px;
        background-color: #EFF0F1;
        z-index: 2; }
        .header .rightDiv .menu .subMenu .item {
          display: block;
          text-align: center;
          width: 100%;
          font-size: 16px;
          height: 60px;
          line-height: 60px; }
          .header .rightDiv .menu .subMenu .item p {
            text-align: center; }
        .header .rightDiv .menu .subMenu .line {
          width: 150px;
          height: 1px;
          margin-left: 10px;
          background-color: #636465; }
        .header .rightDiv .menu .subMenu .item:hover {
          background-color: #2753A4; }
          .header .rightDiv .menu .subMenu .item:hover p {
            color: white; }

.topDiv {
  width: 100%;
  height: 86px;
  background: #171d59 url("../img/14/14-topBg.jpg") no-repeat center 0; }
  .topDiv .content {
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 100%; }
    .topDiv .content .leftDiv {
      float: left;
      width: 500px;
      height: 86px;
      line-height: 86px;
      color: white; }
    .topDiv .content .rightDiv {
      float: right;
      width: 500px;
      height: 86px; }
      .topDiv .content .rightDiv .dropdown {
        float: right;
        width: 120px;
        margin-top: 28px;
        margin-right: 10px; }
        .topDiv .content .rightDiv .dropdown .dropdown-toggle {
          width: 120px;
          text-align: left;
          background: #EFF0F1 url("../img/14/14-arrow.png") no-repeat 100px center;
          border: none; }
      .topDiv .content .rightDiv .btnSearch {
        float: right;
        width: 40px;
        height: 30px;
        margin-top: 28px;
        background: #EFF0F1 url("../img/01/1-search.png") no-repeat center;
        background-size: 20px auto; }
      .topDiv .content .rightDiv input {
        float: right;
        width: 220px;
        height: 30px;
        line-height: 30px;
        text-indent: 5px;
        margin-top: 28px;
        font-size: 14px;
        color: #7F8081;
        background-color: #EFF0F1; }

.navigation {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 48px;
  line-height: 48px; }
  .navigation img {
    float: left;
    margin-top: 17px;
    margin-right: 5px; }
  .navigation a {
    color: #808182;
    margin-right: 3px;
    font-size: 12px; }

.footer {
  width: 100%;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #A3A4A5; }

a:link {
  text-decoration: none;
  color: #000; }

/* 没访问过的链接样式 */
a:visited {
  text-decoration: none;
  color: #000; }

/* 访问过的链接样式 */
a:hover {
  text-decoration: none;
  color: #000; }

/* 鼠标进入链接区域的链接样式 */
a:active {
  text-decoration: none;
  color: #000; }

/* 点击链接时的链接样式 */
.menuDiv {
  width: 100%;
  height: 86px;
  background: #171d59 url("../img/14/14-topBg.jpg") no-repeat center 0; }
  .menuDiv .menu {
    display: block;
    width: 1200px;
    height: 136px;
    margin: 0 auto; }
    .menuDiv .menu a {
      float: left;
      padding: 0 20px;
      font-size: 16px;
      height: 86px;
      color: white;
      line-height: 86px;
      cursor: pointer; }
    .menuDiv .menu .hover {
      color: white;
      background-color: #000; }
  .menuDiv .btnSearch {
    float: right;
    width: 40px;
    height: 30px;
    margin-top: 25px;
    background: #F6F7F8 url("../img/01/1-search.png") no-repeat center;
    background-size: 20px auto; }
  .menuDiv input {
    float: right;
    margin: 25px 0;
    width: 220px;
    height: 30px;
    line-height: 30px;
    text-indent: 5px;
    font-size: 12px;
    color: #7F8081;
    background-color: #F6F7F8; }

.contentFrame {
  display: block;
  margin: 0 auto 30px;
  width: 1200px;
  padding-bottom: 20px;
  background-color: #F6F7F8;
  border: 1px solid #D6D7D8; }
  .contentFrame .titleFrame {
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1E2A82;
    color: #1E2A82; }
    .contentFrame .titleFrame .title {
      font-size: 20px;
      line-height: 26px;
      padding-top: 30px;
      margin-left: 20px;
      font-weight: bold; }
    .contentFrame .titleFrame .subTitle {
      margin-left: 20px;
      font-size: 10px; }
    .contentFrame .titleFrame .items {
      float: right;
      width: 360px;
      text-align: right;
      vertical-align: top;
      margin-top: 50px;
      margin-right: 20px; }
      .contentFrame .titleFrame .items a {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 60px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        margin-left: 5px;
        font-size: 12px;
        color: #7F8081;
        background-color: #EFF0F1;
        vertical-align: top; }
      .contentFrame .titleFrame .items .hover {
        color: white;
        background-color: #1E2A82; }
  .contentFrame .detail {
    margin: 0 10px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #646465; }
  .contentFrame table {
    width: 1180px;
    margin-left: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    border: 1px solid #F1F2F3;
    background-color: #EFF0F1; }
    .contentFrame table tr, .contentFrame table td, .contentFrame table th {
      border: 1px solid #F1F2F3;
      height: 25px;
      line-height: 25px; }
    .contentFrame table th {
      text-align: center;
      margin-left: 5px;
      color: #646465;
      font-size: 14px; }
    .contentFrame table td {
      text-align: center;
      color: #808081; }
      .contentFrame table td span {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        margin-left: 5px;
        border: 1px solid #646465;
        background-color: white; }
    .contentFrame table .td1 {
      width: 140px;
      text-align: left;
      padding-left: 20px;
      color: #646465;
      font-weight: bold; }
    .contentFrame table .td2 {
      text-align: left; }
  .contentFrame .menu {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 1180px;
    height: 40px;
    padding-bottom: 10px;
    color: #646465;
    border-bottom: 1px solid #EFF0F1; }
    .contentFrame .menu .leftFrame {
      float: left;
      width: 550px;
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold; }
    .contentFrame .menu .rightFrame {
      float: right;
      width: 400px;
      text-align: right;
      margin-top: 20px; }
      .contentFrame .menu .rightFrame a {
        font-size: 12px;
        line-height: 20px;
        width: 80px;
        margin-left: 20px; }
      .contentFrame .menu .rightFrame a:hover {
        color: #1E2A82; }
  .contentFrame .p1 {
    margin: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #646465; }

.linkFrame {
  display: block;
  margin: 0 auto 30px;
  width: 1200px; }
  .linkFrame .item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 380px;
    margin-left: 21px;
    padding-bottom: 20px;
    background-color: #F6F7F8;
    border: 1px solid #D6D7D8; }
    .linkFrame .item .title {
      display: block;
      margin: 10px auto;
      height: 38px;
      font-size: 18px;
      font-weight: bold;
      line-height: 38px;
      text-indent: 10px;
      border-bottom: 2px solid #1E2A82;
      color: #1E2A82; }
    .linkFrame .item p {
      font-size: 12px;
      margin: 0 10px;
      height: 24px;
      line-height: 24px;
      color: #646465; }
  .linkFrame .item1 {
    margin-left: 0; }

.addTagDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
  .addTagDialog .bgCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    filter: alpha(opacity=50);
    /* IE */
    -moz-opacity: 0.5;
    /* 老版Mozilla */
    -khtml-opacity: 0.5;
    /* 老版Safari */
    opacity: 0.5;
    /* 支持opacity的浏览器*/ }
  .addTagDialog .tagDialog {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    margin-top: -214px;
    width: 1200px;
    height: 428px;
    background-color: white;
    z-index: 20; }
    .addTagDialog .tagDialog .title {
      font-size: 18px;
      margin-left: 20px;
      margin-top: 20px;
      height: 30px;
      line-height: 30px;
      color: #646465; }
    .addTagDialog .tagDialog .divFrame {
      display: block;
      margin: 0 auto;
      width: 1160px;
      height: 38px; }
      .addTagDialog .tagDialog .divFrame .input {
        float: left;
        width: 1020px;
        height: 38px;
        line-height: 38px;
        margin-top: 0;
        margin-left: 0;
        font-size: 18px;
        border: none;
        background-color: #EFF0F1;
        vertical-align: top; }
      .addTagDialog .tagDialog .divFrame .btnClear {
        float: right;
        width: 120px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        color: white;
        background-color: #1E2A82;
        vertical-align: top; }
    .addTagDialog .tagDialog .tagTip {
      width: 1160px;
      margin-left: 20px;
      font-size: 12px;
      height: 40px;
      line-height: 40px;
      color: #CD001B; }
    .addTagDialog .tagDialog .areaFrame {
      display: block;
      margin: 0 auto;
      width: 1160px;
      background-color: #EFF0F1; }
      .addTagDialog .tagDialog .areaFrame textarea {
        width: 1138px;
        height: 120px;
        padding: 10px;
        line-height: 20px;
        font-size: 16px;
        border: 1px solid #EFF0F1;
        background-color: white; }
      .addTagDialog .tagDialog .areaFrame .tags {
        display: block;
        margin-left: 10px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #646465; }
        .addTagDialog .tagDialog .areaFrame .tags a {
          font-size: 12px;
          margin-left: 10px;
          height: 24px;
          line-height: 24px;
          color: #1E2A82; }
    .addTagDialog .tagDialog .btnFrame {
      margin-top: 30px;
      width: 1180px;
      height: 38px; }
      .addTagDialog .tagDialog .btnFrame .btnCancel, .addTagDialog .tagDialog .btnFrame .btnAddTag {
        float: right;
        width: 120px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        margin-left: 20px;
        color: white;
        vertical-align: top;
        background-color: #646465; }
      .addTagDialog .tagDialog .btnFrame .btnAddTag {
        background-color: #1E2A82; }

/*# sourceMappingURL=page08.addTag.css.map */
