@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  min-width: 1200px;
  background-color: #FFFFFF;
  font-family: "Microsoft YaHei UI", "微软雅黑", "宋体", sans-serif; }

input {
  -webkit-appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox3.5+*/
  -webkit-box-sizing: border-box;
  /*Safari3.2+*/
  border: none;
  font-size: 16px;
  margin-left: 5px;
  padding-left: 10px; }

input::-ms-clear {
  display: none; }

.header {
  width: 100%;
  height: 60px;
  background-color: white; }
  .header .leftDiv {
    float: left; }
    .header .leftDiv .logo {
      float: left;
      margin: 10px 70px 10px 20px; }
    .header .leftDiv .item {
      float: left;
      width: 100px;
      font-size: 22px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      cursor: pointer;
      color: #5D5E5F; }
    .header .leftDiv .hover {
      color: white;
      background-color: #2753A4; }
  .header .rightDiv {
    float: right;
    height: 60px; }
    .header .rightDiv input {
      float: right;
      width: 190px;
      height: 32px;
      margin-top: 14px;
      border-radius: 3px;
      border: 1px solid #A7AAB1;
      background: url("../img/01/1-search.png") no-repeat 160px center; }
    .header .rightDiv .msgCount {
      position: absolute;
      right: 95px;
      margin-top: 5px;
      width: 20px;
      height: 20px;
      color: white;
      text-align: center;
      line-height: 20px;
      border-radius: 20px;
      font-size: 10px;
      background-color: #EA6247; }
    .header .rightDiv .menu {
      float: right;
      height: 100%;
      background-color: white;
      padding-left: 30px; }
      .header .rightDiv .menu .headImg {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-left: 10px;
        vertical-align: middle; }
      .header .rightDiv .menu .userName {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 100px;
        height: 60px;
        line-height: 60px;
        text-indent: 20px;
        color: #757677; }
        .header .rightDiv .menu .userName .arrow {
          margin-left: 10px; }
      .header .rightDiv .menu .subMenu {
        position: absolute;
        left: 50%;
        top: 100px;
        margin-left: 330px;
        width: 170px;
        background-color: #EFF0F1;
        z-index: 2; }
        .header .rightDiv .menu .subMenu .item {
          display: block;
          text-align: center;
          width: 100%;
          font-size: 16px;
          height: 60px;
          line-height: 60px; }
          .header .rightDiv .menu .subMenu .item p {
            text-align: center; }
        .header .rightDiv .menu .subMenu .line {
          width: 150px;
          height: 1px;
          margin-left: 10px;
          background-color: #636465; }
        .header .rightDiv .menu .subMenu .item:hover {
          background-color: #2753A4; }
          .header .rightDiv .menu .subMenu .item:hover p {
            color: white; }

.topDiv {
  width: 100%;
  height: 86px;
  background: #171d59 url("../img/14/14-topBg.jpg") no-repeat center 0; }
  .topDiv .content {
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 100%; }
    .topDiv .content .leftDiv {
      float: left;
      width: 500px;
      height: 86px;
      line-height: 86px;
      color: white; }
    .topDiv .content .rightDiv {
      float: right;
      width: 500px;
      height: 86px; }
      .topDiv .content .rightDiv .dropdown {
        float: right;
        width: 120px;
        margin-top: 28px;
        margin-right: 10px; }
        .topDiv .content .rightDiv .dropdown .dropdown-toggle {
          width: 120px;
          text-align: left;
          background: #EFF0F1 url("../img/14/14-arrow.png") no-repeat 100px center;
          border: none; }
      .topDiv .content .rightDiv .btnSearch {
        float: right;
        width: 40px;
        height: 30px;
        margin-top: 28px;
        background: #EFF0F1 url("../img/01/1-search.png") no-repeat center;
        background-size: 20px auto; }
      .topDiv .content .rightDiv input {
        float: right;
        width: 220px;
        height: 30px;
        line-height: 30px;
        text-indent: 5px;
        margin-top: 28px;
        font-size: 14px;
        color: #7F8081;
        background-color: #EFF0F1; }

.navigation {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 48px;
  line-height: 48px; }
  .navigation img {
    float: left;
    margin-top: 17px;
    margin-right: 5px; }
  .navigation a {
    color: #808182;
    margin-right: 3px;
    font-size: 12px; }

.footer {
  width: 100%;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #A3A4A5; }

a:link {
  text-decoration: none;
  color: #000; }

/* 没访问过的链接样式 */
a:visited {
  text-decoration: none;
  color: #000; }

/* 访问过的链接样式 */
a:hover {
  text-decoration: none;
  color: #000; }

/* 鼠标进入链接区域的链接样式 */
a:active {
  text-decoration: none;
  color: #000; }

/* 点击链接时的链接样式 */
.contentFrame {
  display: block;
  margin: 0 auto 30px;
  width: 1200px;
  height: 850px; }
  .contentFrame .leftDiv {
    float: left;
    width: 300px;
    height: 850px;
    background-color: #F6F7F8;
    border: 1px solid #E3E3E4; }
    .contentFrame .leftDiv .topFrame {
      height: 70px;
      border-bottom: 2px solid #1E2A82; }
      .contentFrame .leftDiv .topFrame .item {
        float: left;
        width: 120px;
        height: 36px;
        line-height: 36px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        margin-left: 20px;
        color: #000; }
      .contentFrame .leftDiv .topFrame .hover {
        color: #1E2A82; }
    .contentFrame .leftDiv .infoFrame {
      margin: 20px;
      height: 740px; }
      .contentFrame .leftDiv .infoFrame p {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #646465; }
        .contentFrame .leftDiv .infoFrame p img {
          margin-left: 5px;
          vertical-align: middle; }
      .contentFrame .leftDiv .infoFrame .p1 {
        text-indent: 14px; }
      .contentFrame .leftDiv .infoFrame .p2 {
        text-indent: 28px; }
  .contentFrame .rightDiv {
    float: right;
    width: 880px;
    height: 850px;
    background-color: #F6F7F8;
    border: 1px solid #E3E3E4; }
    .contentFrame .rightDiv .wordFrame {
      margin-top: 20px;
      width: 880px;
      height: 750px; }
      .contentFrame .rightDiv .wordFrame img {
        width: 100%; }
    .contentFrame .rightDiv .btnFrame {
      width: 880px;
      height: 60px; }
      .contentFrame .rightDiv .btnFrame .btnSave, .contentFrame .rightDiv .btnFrame .btnSubmit {
        float: left;
        width: 120px;
        height: 36px;
        line-height: 36px;
        margin-top: 15px;
        text-align: center;
        margin-left: 300px;
        color: white;
        background-color: #1E2A82; }
      .contentFrame .rightDiv .btnFrame .btnSubmit {
        background-color: #000;
        margin-left: 40px; }

.tipDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
  .tipDialog .bgCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    filter: alpha(opacity=50);
    /* IE */
    -moz-opacity: 0.5;
    /* 老版Mozilla */
    -khtml-opacity: 0.5;
    /* 老版Safari */
    opacity: 0.5;
    /* 支持opacity的浏览器*/ }
  .tipDialog .contentFrame {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -161px;
    width: 640px;
    height: 322px;
    background-color: white;
    z-index: 20; }
    .tipDialog .contentFrame .title {
      font-size: 24px;
      font-weight: bold;
      margin: 10px 20px 30px;
      height: 40px;
      line-height: 40px;
      color: #646465;
      border-bottom: 1px solid #EFF0F1; }
    .tipDialog .contentFrame .content {
      width: 100%;
      height: 120px;
      line-height: 120px;
      font-size: 18px;
      text-align: center; }
      .tipDialog .contentFrame .content a {
        margin-left: 20px;
        color: #646465; }
        .tipDialog .contentFrame .content a img {
          margin-right: 5px; }
      .tipDialog .contentFrame .content .hover {
        color: #1E2A82; }
    .tipDialog .contentFrame .btnFrame {
      margin-top: 30px;
      width: 620px;
      height: 38px; }
      .tipDialog .contentFrame .btnFrame .btnCancel, .tipDialog .contentFrame .btnFrame .btnAdd {
        float: left;
        width: 120px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        margin-left: 20px;
        color: white;
        vertical-align: top;
        background-color: #000; }
      .tipDialog .contentFrame .btnFrame .btnAdd {
        margin-left: 200px;
        background-color: #1E2A82; }

/*# sourceMappingURL=page18.submit.css.map */
