@charset "UTF-8";
@import "animate.min";
@import "reset-h5";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2017-09-12 13:58:18
 * @version $Id$
 */
*{
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  background-color: #000;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  -webkit-backface-visibility:hidden;
  -webkit-perspective:1000px;
  overflow: hidden;
}
#topDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7.65rem;
    margin-top: -10.1rem;
    width: 15.3rem;
    height: 20.2rem;
    background: url("../images/actBorder.png") no-repeat center;
    background-size: cover;
    .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 2rem;
      height: 2rem;
      background: url("../images/actClose.png") no-repeat right top;
      background-size: 0.6rem;
      z-index: 2;
    }
    .title {
      margin: 1.5rem 1rem 0;
      text-align: center;
      font-size: 1.4rem;
      line-height: 2.3rem;
      font-weight: bold;
      text-shadow: 1px 1px 1px #000;
      border-top: 1px dotted #668ED4;
      border-bottom: 1px dotted #668ED4;
      color: #fff;
    }
    .info {
      margin-top: 1rem;
      width: 100%;
      height: 15rem;
      overflow-y: auto;
      p {
        margin: 0 1rem;
        line-height: 1rem;
        font-size: 0.7rem;
        color: #fff;
      }
    }
  }

}

#actDetailDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
  .close {
    position: absolute;
    top: 5%;
    right: 5%;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    background: url("../images/actClose.png") no-repeat right top;
    background-size: 0.6rem;
    z-index: 2;
  }
  .content {
    position: absolute;
    left: 0;
    top: 3%;
    width: 100%;
    height: 96%;
    background: url("../images/actInfo-2.png") no-repeat center;
    background-size: auto 96%;
  }

}

.wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.screen{
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  background: #000 url("../images/bg.jpg") no-repeat center;
  background-size: 100% auto;
}
.screen-arrow {
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  bottom: 1rem;
  width: 2rem;
  height: 1rem;
  background: url("../images/arrow.png") no-repeat center;
  background-size: 0.8rem auto;
  z-index:10;
}
.screen1{
  background: #000 url("../images/1-bg.jpg") no-repeat center;
  background-size: 100% auto;
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.6rem;
    z-index: 10;
    .logoLeft {
      float: left;
      width: 4.5rem;
      height: 0.8rem;
      margin-left: 0.5rem;
      margin-top: 0.5rem;
    }
    .logoRight {
      float: right;
      width: 3.5rem;
      height: 0.5rem;
      margin-top: 0.5rem;
      margin-right: 1rem;
    }
  }
  .content {
    position: absolute;
    width: 100%;
    height: 13.4rem;
    top: 50%;
    margin-top: -15rem;
    background: url("../images/1-bttomRing.png") no-repeat 0 bottom;
    background-size: 100% auto;
    .top {
      position: absolute;
      left: 50%;
      margin-left: -6.9rem;
      width: 13.8rem;
      height: 12.6rem;
      z-index: 1;
    }
    .car-1 {
      position: absolute;
      left: 50%;
      margin-left: -9.3rem;
      margin-top: 6.7rem;
      width: 5.5rem;
      height: 3.2rem;
      z-index: 1;
    }
    .car-2 {
      position: absolute;
      left: 50%;
      margin-left: -9.2rem;
      margin-top: 7.2rem;
      width: 6.45rem;
      height: 2.5rem;
      z-index: 2;
    }
    .car-3 {
      position: absolute;
      left: 50%;
      margin-left: -8rem;
      margin-top: 7.6rem;
      width: 8rem;
      height: 3.5rem;
      z-index: 3;
    }
    .car-4 {
      position: absolute;
      left: 50%;
      margin-left: -2.5rem;
      margin-top: 8.1rem;
      width: 8.7rem;
      height: 5.5rem;
      z-index: 4;
    }
    .car-5 {
      position: absolute;
      left: 50%;
      margin-left: 1.8rem;
      margin-top: 8rem;
      width: 7rem;
      height: 2.85rem;
      z-index: 3;
    }
    .car-6 {
      position: absolute;
      left: 50%;
      margin-left: 3.4rem;
      margin-top: 7.2rem;
      width: 7rem;
      height: 3rem;
      z-index: 2;
    }
  }
  .ringFrame {
    position: absolute;
    top: 50%;
    margin-top: 1rem;
    width: 100%;
    height: 9.7rem;
    .ring {
      position: absolute;
      left: 50%;
      margin-left: -4.7rem;
      z-index: -1;
      width: 9.4rem;
      height: 9.7rem;
    }
    .title {
      display: block;
      margin: 3.5rem auto 0;
      width: 5.15rem;
      height: 2.85rem;
    }
  }
}
.screen2{
  background: #000 url("../images/2-bg.jpg") no-repeat center;
  background-size: 100% auto;
  #3dCanvas {
    width: 100%;
    height: 100%;
  }
  .tipSwipe {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 7rem;
    margin-left: -2.375rem;
    width: 4.75rem;
    height: 0.75rem;
    z-index: 8;
  }
  .finger {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 8rem;
    margin-left: -0.7rem;
    width: 1.4rem;
    height: 1.8rem;
    animation-duration: 10s;
    z-index: 8;
  }
  .ring {
    position: absolute;
    top: 50%;
    margin-top: -4rem;
    width: 100%;
    pointer-events:none;
    z-index: 10;
  }
}
.screen3{
  .content {
    position: absolute;
    top: 50%;
    margin-top: -12rem;
    width: 100%;
    height: 24rem;
    .itemsFrame {
      display: block;
      margin: 1rem auto 0;
      width: 15.5rem;
      height: 10.5rem;
      .item {
        width: 3.2rem;
        height: 3.4rem;
        background: url("../images/3-items.png") no-repeat;
        background-size: 400% auto;
      }
      .itemMid {
        display: block;
        margin: 0 auto;
        background-position-x: 66%;
      }
      .itemLeft {
        float: left;
        background-position-x: 100%;
      }
      .itemRight {
        float: right;
        background-position-x: 33%;
      }
      .itemBg {
        position: absolute;
        left: 50%;
        margin-left: -4rem;
        margin-top: 0.7rem;
        width: 8rem;
        height: 8.6rem;
        background: url("../images/3-itemBg.png") no-repeat;
        background-size: 8rem 8.6rem;
        z-index: 1;
        .itemHover {
          display: block;
          margin: 1.5rem auto 0;
          width: 5rem;
          height: 5.25rem;
          background: url("../images/3-items.png") no-repeat;
          background-size: 400% auto;
          background-position-x: 0;
        }
      }
      .btnDetail {
        display: block;
        margin: 5rem auto 0;
        width: 4.15rem;
        height: 2.15rem;
      }
    }
    .btnAuth {
      display: block;
      margin: 0 auto;
      width: 6.6rem;
      height: 2.5rem;
      border-radius: 3px;
      background: url("../images/btnOnekey.png") no-repeat;
      background-size: 6.6rem 2.5rem;
    }
  }
}

.carFrame {
  display: block;
  margin: 1.5rem auto;
  width: 9.5rem;
  height: 6.55rem;
  overflow: hidden;
  .car360 {
    width: 9.5rem;
    height: 6.55rem;
    background: url("../images/cars360.png") no-repeat center;
    background-size: 1000% auto;
  }
}

.screen4 {
  .content {
    position: absolute;
    top: 50%;
    margin-top: -12rem;
    width: 100%;
    height: 24rem;
    .item {
      display: block;
      margin: 1rem auto 0;
      width: 13.5rem;
      height: 1.95rem;
      background: url("../images/btnBg.png") no-repeat;
      background-size: cover;
      label {
        display: inline-block;
        width: 4.2rem;
        height: 1.95rem;
        line-height: 1.95rem;
        font-weight: bold;
        font-size: 0.8rem;
        color: white;
        text-align: right;
      }
      input {
        -webkit-appearance: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;  /*Firefox3.5+*/
        -webkit-box-sizing: border-box; /*Safari3.2+*/
        width: 8rem;
        height: 1.55rem;
        line-height: 1.55rem;
        margin-top: 0.2rem;
        color: #fff;
        font-size: 0.8rem;
        border-radius: inherit;
        background-color: transparent;
        text-indent: 0.2rem;
        vertical-align: top;
      }
      .input-2 {
        width: 5.2rem;
      }
      #btnGetCode {
        float: right;
        width: 3.5rem;
        height: 1.7rem;
        line-height: 1.7rem;
        margin-top: 0.2rem;
        font-size: 0.6rem;
        padding-left: 0.2rem;
        padding-right: 0.1rem;
        border-left: 1px solid #0c7bff;
        color: #fff;
      }
    }

    #btnSubmit {
      display: block;
      margin: 2rem auto 0;
      width: 6.6rem;
      height: 2.5rem;
      border-radius: 3px;
      background: url("../images/btnSubmit.png") no-repeat;
      background-size: 6.6rem 2.5rem;
    }
  }
}

.screen5 {
  .content {
    position: absolute;
    top: 50%;
    margin-top: -14rem;
    width: 100%;
    height: 28rem;
    .carFrame {
      display: block;
      margin: 0.5rem auto 1rem;
    }
    .tip-success {
      display: block;
      margin: 0 auto 0.6rem;
      width: 7.3rem;
      height: 2.4rem;
    }
    .tip1, .tip2 {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.8rem;
      text-align: center;
      color: #fff;
    }
    .codeFrame {
      display: block;
      margin: 1rem auto;
      width: 7.6rem;
      height: 8rem;
      background: url("../images/codeBorder.png") no-repeat;
      background-size: cover;
      .codeImg {
        display: block;
        margin: 0 auto;
        width: 5rem;
        height: 5rem;
        padding: 1.5rem 0;
      }
      .codeLight {
        position: absolute;
        width: 7.6rem;
        height: 8rem;
        pointer-events: none;
        background: url("../images/codeLight.png") no-repeat center 0;
        background-size: 6.5rem auto;
        z-index: 1;
      }
    }

    .longtapTips {
      margin-bottom: 1rem;
      p {
        color: #fff;
        font-size: 0.8rem;
        line-height: 1rem;
        text-align: center;
      }
    }
  }
}

@media screen and (max-height: 440px) {
  #btnGetCode {
    font-size: 0.5rem;
  }
  .screen5 {
    .content {
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
    }
  }
}

/*
* cars360 animation
*/
.cars360Animation {
  -webkit-animation: carsAnimated 2s steps(9) infinite;
  animation: carsAnimated 2s steps(9) infinite;
}

@keyframes carsAnimated {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

@-webkit-keyframes carsAnimated {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

/*
* 旋转圆环
*/
.rotateRingAni {
  -webkit-animation: rotateRing 2s infinite linear alternate;
  -moz-animation: rotateRing 2s infinite linear alternate;
  animation: rotateRing 2s infinite linear alternate;
}

@-webkit-keyframes rotateRing {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-moz-keyframes rotateRing {
  from {-moz-transform: rotate(0deg);transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes rotateRing {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/*
* 二维码光效
*/
.codeLightAnimation {
  animation: animatedCodeLight 3s ease-in-out infinite alternate;
  -webkit-animation: animatedCodeLight 3s ease-in-out infinite alternate;
}

@keyframes animatedCodeLight {
  to {
    background-position-y: 100%;
  }
}

@-webkit-keyframes animatedCodeLight {
  to {
    background-position-y: 100%;
  }
}

/**
 * 光晕效果
 */
.btnNucleusAnimation {
  -webkit-animation: nucleus 3s infinite linear;
  animation: nucleus 3s infinite linear;
}
@keyframes nucleus {
  0% {
    box-shadow: 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 1rem #2A66E4;
  }
  100% {
    box-shadow: 0 0 0 transparent;
  }
}

@-webkit-keyframes nucleus {
  0% {
    box-shadow: 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 1rem #2A66E4;
  }
  100% {
    box-shadow: 0 0 0 transparent;
  }
}