/*
* 旋转音乐播放器
*/
.rotateRingAni {
  -webkit-animation: rotateRing 3s infinite linear;
  -moz-animation: rotateRing 3s infinite linear;
  animation: rotateRing 3s infinite linear;
}

@-webkit-keyframes rotateRing {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-moz-keyframes rotateRing {
  from {-moz-transform: rotate(0deg);transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes rotateRing {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.wifiAni {
  -webkit-animation: wifiSingle 1.5s steps(3) infinite;
  animation: wifiSingle 1.5s steps(3) infinite;
}
@-webkit-keyframes wifiSingle {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 150% 0;
  }
  100% {
    background-position: 300% 0;
  }
}
@keyframes wifiSingle {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 150% 0;
  }
  100% {
    background-position: 300% 0;
  }
}

@-webkit-keyframes shakeBody {
   from {
     -webkit-transform: none;
   }
   15% {
     -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
   }
   30% {
     -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg);
   }
   45% {
     -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg);
   }
   60% {
     -webkit-transform: translate3d(8%, 0, 0) rotate3d(0, 0, 1, 2deg);
   }
   75% {
     -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
   }
   to {
     -webkit-transform: none;
   }
 }

@keyframes shakeBody {
  from {
    transform: none;
  }
  15% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(8%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    transform: none;
  }
}

.bodyAni {
  animation-name: shakeBody;
  -webkit-animation-name: shakeBody;
}