/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body {
  font-family: "STHeiti", Helvetica, Arial, sans-serif;
  background: #fff;
  font-size: 14px;
  height: 100%;
  max-width: 750px;
  min-width: 20pc;
  line-height: 1.5;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
legend {
  display: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
html {
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
}
/*����iphone��safari���ֺ��Զ�����*/
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
/*ȥ��iphoneĬ����ʽ��input��Բ�ǣ�*/
/*****ͼƬ����ҳ��*********/
.box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/************��ʼҳ**************/
.page01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/page01-bg0203.png);
  background-size: cover;
  z-index: 1000;
}
.img-load-now {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1.48rem;
  height: 2rem;
}
.bird-loading {
  width: 1.48rem;
  height: 1.266rem;
  background-image: url(../img/birddace.gif);
  background-size: 1.48rem 1.2666rem ;
  animation: birdloadingla 1s ease  infinite;
  -webkit-animation: birdloadingla 1s ease  infinite;
  -moz-animation: birdloadingla 1s ease  infinite;
  -o-animation: birdloadingla 1s ease  infinite;
}
.mask {
  text-align: center;
  margin-top: 0.4rem;
}
@keyframes birdloadingla {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
     -o-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    -o-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 2px, 0);
    -moz-transform: translate3d(0, 2px, 0);
    -o-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes birdloadingla {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
     -o-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    -o-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 2px, 0);
    -moz-transform: translate3d(0, 2px, 0);
    -o-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
  }
}
.page01,
.page02,
.page03 {
  height: 100%;
}
.page03 {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/page01-bg0203.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.page02 {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.page02 .bird {
  position: absolute;
  left: 0.10rem;
  bottom: 0.4rem;
  z-index: 300;
}
.page02 .page02-heibai {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/page01-bg02-heibai.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}
.page02 .bird-paused {
  background-image: url(../img/heibai-00000.png);
  background-size: 210px auto;
  width: 70px;
  height: 70px;
  animation: bird-pause 0.8s steps(2, end) infinite;
  -moz-animation: bird-pause 0.8s steps(2, end) infinite;
  -o-animation: bird-pause 0.8s steps(2, end) infinite;
  -webkit-animation: bird-pause 0.8s steps(2, end) infinite;
}
@keyframes bird-pause {
  0% {
    background-position: 0 0 ;
  }
  100% {
    background-position: -140px 0;
  }
}
@-webkit-keyframes bird-pause {
  0% {
    background-position: 0 0 ;
  }
  100% {
    background-position: -140px 0;
  }
}
.page02 .bird-flying {
  background-image: none;
  width: 1.2375rem;
  height: 1.225rem;
  -webkit-animation: bird-flyX 5s ease-out forwards;
  animation: bird-flyX 5s ease-out forwards;
  -moz-animation: bird-flyX 5s ease-out forwards;
  -o-animation: bird-flyX 5s ease-out forwards;
}
.page02 .bird-new {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.2375rem;
  height: 1.225rem;
  background-image: url(../img/youcefei.gif);
  background-size: 1.2375rem 1.225rem;
  background-repeat: no-repeat;
}
.page02 .bird-new-flying {
  display: block;
  animation: bird-flyY 5s ease-out forwards;
  -o-animation: bird-flyY 5s ease-out forwards;
  -moz-animation: bird-flyY 5s ease-out forwards;
  -webkit-animation: bird-flyY 5s ease-out forwards;
  left: 0.2rem;
  top: -0.1rem;
}
@keyframes bird-flyX {
  0% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  2% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(0rem);
    -o-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  5% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(0);
    transform: translateX(0rem);
    -o-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
  }
  25% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem);
    -moz-transform: translateX(5rem);
    -o-transform: translateX(5rem);
  }
  40% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem);
    -moz-transform: translateX(5rem);
    -o-transform: translateX(5rem);
  }
  60% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(3rem);
    transform: translateX(3rem);
    -moz-transform: translateX(3rem);
    -o-transform: translateX(3rem);
  }
  70% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(3rem);
    transform: translateX(3rem);
    -moz-transform: translateX(5rem);
    -o-transform: translateX(5rem);
  }
  90% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(2.65rem);
    transform: translateX(2.65rem);
    -moz-transform: translateX(2.65rem);
    -o-transform: translateX(2.65rem);
  }
  100% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(2.65rem);
    transform: translateX(2.65rem);
    -moz-transform: translateX(2.65rem);
    -o-transform: translateX(2.65rem);
  }
}
@-webkit-keyframes bird-flyX {
  0% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  2% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(0rem);
    -o-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    transform: translateX(0rem);
  }
  5% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(0);
    transform: translateX(0rem);
    -o-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
  }
  25% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem);
    -moz-transform: translateX(5rem);
    -o-transform: translateX(5rem);
  }
  40% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem);
    -moz-transform: translateX(5rem);
    -o-transform: translateX(5rem);
  }
  60% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(3rem);
    transform: translateX(3rem);
    -moz-transform: translateX(3rem);
    -o-transform: translateX(3rem);
  }
  70% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(3rem);
    transform: translateX(3rem);
    -moz-transform: translateX(5rem);
    -o-transform: translateX(5rem);
  }
  90% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(2.65rem);
    transform: translateX(2.65rem);
    -moz-transform: translateX(2.65rem);
    -o-transform: translateX(2.65rem);
  }
  100% {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(2.65rem);
    transform: translateX(2.65rem);
    -moz-transform: translateX(2.65rem);
    -o-transform: translateX(2.65rem);
  }
}
@keyframes bird-flyY {
  0% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    background-size: 1.2375rem 1.225rem;
  }
  2% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    -moz-transform: translateY(-0.3rem);
    -o-transform: translateY(-0.3rem);
  }
  5% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    background-size: 1.2375rem 1.225rem;
  }
  25% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    transform: translateY(-5.8rem);
    -moz-transform: translateY(-5.8rem);
    -o-transform: translateY(-5.8rem);
    -webkit-transform: translateY(-5.8rem);
    background-size: 1.2375rem 1.225rem;
  }
  25.5%,
  32.5%{
    transform: translateY(-5.9rem);
    -webkit-transform: translateY(-5.9rem);
    -moz-transform: translateY(-5.9rem);
    -o-transform: translateY(-5.9rem);
    
  }
  26%,
  33% {
    transform: translateY(-5.8rem);
    -moz-transform: translateY(-5.8rem);
    -o-transform: translateY(-5.8rem);
    -webkit-transform: translateY(-5.8rem);
    background-size: 1.2375rem 1.225rem;
  }

  39.5% {
    transform: translateY(-5.8rem) rotateY(0deg);
    -webkit-transform: translateY(-5.8rem) rotateY(0deg);
    -moz-transform: translateY(-5.8rem) rotateY(0deg);
    -o-transform: translateY(-5.8rem) rotateY(0deg);
     
  }
  39.9%{
    background-size: 1.13333333rem 0.93333rem;
  }
  40% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translateY(-5.8rem) rotateY(-35deg);
    -moz-transform: translateY(-5.8rem) rotateY(-35deg);
    -o-transform: translateY(-5.8rem) rotateY(-35deg);
    transform: translateY(-5.8rem) rotateY(-35deg);
    /*background-size: 1.02rem 0.84rem;*/
  }
  60% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    transform: translateY(-9.8rem);
    -webkit-transform: translateY(-9.8rem);
    -moz-transform: translateY(-9.8rem);
    -o-transform: translateY(-9.8rem);
    /*background-size: 1.02rem 0.84rem;*/
  }
  60.5%,
  65.5% {
    -webkit-transform: translateY(-9.7rem);
    transform: translateY(-9.7rem);
    -moz-transform: translateY(-9.7rem);
    -o-transform: translateY(-9.7rem);
   background-size: 1.13333333rem 0.93333rem;

  }
  61%,
  66% {
    -webkit-transform: translateY(-9.8rem);
    -moz-transform: translateY(-9.8rem);
    -o-transform: translateY(-9.8rem);
    transform: translateY(-9.8rem);
  }
  80% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translate3d(0, -9.8rem, 0);
    -moz-transform: translate3d(0, -9.8rem, 0);
    -o-transform: translate3d(0, -9.8rem, 0);
    transform: translate3d(0, -9.8rem, 0);
   background-size: 1.13333333rem 0.93333rem;
    opacity: 1;
  }
  90% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translate3d(0, -11.2rem, 30rem);
    -moz-transform: translate3d(0, -11.2rem, 30rem);
    -o-transform: translate3d(0, -11.2rem, 30rem);
    transform: translate3d(0, -11.2rem, 30rem);
    background-size: 0.68rem 0.56rem;
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate3d(0, -11.2rem, 50rem);
    -webkit-background-size: 0.408rem 0.336rem;
    transform: translate3d(0, -11.2rem, 50rem);
    -moz-transform: translate3d(0, -11.2rem, 50rem);
    -o-transform: translate3d(0, -11.2rem, 50rem);
    background-size: 0.408rem 0.336rem;
    opacity: 0;
  }
}
/*@-webkit-keyframes bird-flyY {
  0% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    background-size: 1.2375rem 1.225rem;
  }
  2% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    -moz-transform: translateY(-0.3rem);
    -o-transform: translateY(-0.3rem);
  }
  5% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    background-size: 1.2375rem 1.225rem;
  }
  25% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    transform: translateY(-5.8rem);
    -moz-transform: translateY(-5.8rem);
    -o-transform: translateY(-5.8rem);
    -webkit-transform: translateY(-5.8rem);
    background-size: 1.16470588rem 1.15294118rem;
  }
  25.5%,
  32.5%,
  39.5% {
    transform: translateY(-5.9rem);
    -webkit-transform: translateY(-5.9rem);
    -moz-transform: translateY(-5.9rem);
    -o-transform: translateY(-5.9rem);
  }
  26%,
  33% {
    transform: translateY(-5.8rem);
    -moz-transform: translateY(-5.8rem);
    -o-transform: translateY(-5.8rem);
    -webkit-transform: translateY(-5.8rem);
    background-size: 1.16470588rem 1.15294118rem;
  }
  39.5% {
    transform: translateY(-5.8rem) rotateY(0deg);
    -webkit-transform: translateY(-5.8rem) rotateY(0deg);
    -moz-transform: translateY(-5.8rem) rotateY(0deg);
    -o-transform: translateY(-5.8rem) rotateY(0deg);
    background-size: 1.13333333rem 0.93333333rem;
  }
  40% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translateY(-5.8rem) rotateY(-35deg);
    -moz-transform: translateY(-5.8rem) rotateY(-35deg);
    -o-transform: translateY(-5.8rem) rotateY(-35deg);
    transform: translateY(-5.8rem) rotateY(-35deg);
    background-size: 1.13333333rem 0.93333333rem;
  }
  60% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    transform: translateY(-9.8rem);
    -webkit-transform: translateY(-9.8rem);
    -moz-transform: translateY(-9.8rem);
    -o-transform: translateY(-9.8rem);
    background-size: 1.13333333rem 0.93333333rem;
  }
  60.5%,
  65.5% {
    -webkit-transform: translateY(-9.7rem);
    transform: translateY(-9.7rem);
    -moz-transform: translateY(-9.7rem);
    -o-transform: translateY(-9.7rem);
    background-size: 1.13333333rem 0.93333333rem;
  }
  61%,
  66% {
    transform: translateY(-9.8rem);
  }
  80% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translate3d(0, -9.8rem, 0);
    -moz-transform: translate3d(0, -9.8rem, 0);
    -o-transform: translate3d(0, -9.8rem, 0);
    transform: translate3d(0, -9.8rem, 0);
    background-size: 1.13333333rem 0.93333333rem;
    opacity: 1;
  }
  90% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-transform: translate3d(0, -11.2rem, 30rem);
    -moz-transform: translate3d(0, -11.2rem, 30rem);
    -o-transform: translate3d(0, -11.2rem, 30rem);
    transform: translate3d(0, -11.2rem, 30rem);
    background-size: 0.68rem 0.56rem;
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate3d(0, -11.2rem, 50rem);
    -webkit-background-size: 0.408rem 0.336rem;
    transform: translate3d(0, -11.2rem, 50rem);
    -moz-transform: translate3d(0, -11.2rem, 50rem);
    -o-transform: translate3d(0, -11.2rem, 50rem);
    background-size: 0.408rem 0.336rem;
    opacity: 0;
  }
}*/
.page02-heibai-fly {
  opacity: 0;
}
.page02-new {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/page01-bg0203.png);
  background-size: cover;
  z-index: 100;
  opacity: 0;
  display: block;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}
.page02-new-show {
  opacity: 1;
}
@keyframes page02newfly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page02-slideing {
  -webkit-animation: page02fly 1.8s ease-in forwards;
  -o-animation: page02fly 1.8s ease-in forwards;
  -moz-animation: page02fly 1.8s ease-in forwards;
  animation: page02fly 1.8s ease-in forwards;
}
@-webkit-keyframes page02newfly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page02-slideing {
  -webkit-animation: page02fly 1.8s ease-in forwards;
  -o-animation: page02fly 1.8s ease-in forwards;
  -moz-animation: page02fly 1.8s ease-in forwards;
  animation: page02fly 1.8s ease-in forwards;
}
@keyframes page02fly {
  0% {
    -webkit-transform: translate3d(0, 0%, 0) scale(1);
    -o-transform: translate3d(0, 0%, 0) scale(1);
    -moz-transform: translate3d(0, 0%, 0) scale(1);
    transform: translate3d(0, 0%, 0) scale(1);
    opacity: 1;
  }
  18% {
    -webkit-transform: translate3d(0, 0%, 0) scale(0.95);
    -moz-transform: translate3d(0, 0%, 0) scale(0.95);
    -o-transform: translate3d(0, 0%, 0) scale(0.95);
    transform: translate3d(0, 0%, 0) scale(0.95);
    opacity: 0.8;
  }
  35% {
    -moz-transform: translate3d(0, 0%, 0) scale(1);
    -o-transform: translate3d(0, 0%, 0) scale(1);
    transform: translate3d(0, 0%, 0) scale(1);
    -webkit-transform: translate3d(0, 0%, 0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}
@-webkit-keyframes page02fly {
  0% {
    -webkit-transform: translate3d(0, 0%, 0) scale(1);
    -o-transform: translate3d(0, 0%, 0) scale(1);
    -moz-transform: translate3d(0, 0%, 0) scale(1);
    transform: translate3d(0, 0%, 0) scale(1);
    opacity: 1;
  }
  18% {
    -webkit-transform: translate3d(0, 0%, 0) scale(0.95);
    -moz-transform: translate3d(0, 0%, 0) scale(0.95);
    -o-transform: translate3d(0, 0%, 0) scale(0.95);
    transform: translate3d(0, 0%, 0) scale(0.95);
    opacity: 0.8;
  }
  35% {
    transform: translate3d(0, 0%, 0) scale(1);
     -o-transform: translate3d(0, 0%, 0) scale(1);
      -moz-transform: translate3d(0, 0%, 0) scale(1);
    -webkit-transform: translate3d(0, 0%, 0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}
.page03-slideing {
  -webkit-animation: page03fly 1.8s ease-in forwards;
  -moz-animation: page03fly 1.8s ease-in forwards;
  -o-animation: page03fly 1.8s ease-in forwards;
  animation: page03fly 1.8s ease-in forwards;
}
@keyframes page03fly {
  0% {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
  35% {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
     -o-transform: translate(0, 0);
      transform: translate(0, 0);
  }
}
@-webkit-keyframes page03fly {
  0% {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
  35% {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
     -o-transform: translate(0, 0);
      transform: translate(0, 0);
  }
}
.tablebianxiao {
  -webkit-animation: tablebianxiaola 1s 0.8s ease forwards;
  -moz-animation: tablebianxiaola 1s 0.8s ease forwards;
   -o-animation: tablebianxiaola 1s 0.8s ease forwards;
    animation: tablebianxiaola 1s 0.8s ease forwards;
  /*-moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;*/
}
@keyframes tablebianxiaola {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;

  }
  100% {
    -webkit-transform: scale(0.968);
    -moz-transform: scale(0.968);
    -o-transform: scale(0.968);
    transform: scale(0.968);
    -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  }
}
@-webkit-keyframes tablebianxiaola {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);

  }
  100% {
    -webkit-transform: scale(0.968);
    -moz-transform: scale(0.968);
    -o-transform: scale(0.968);
    transform: scale(0.968);
  }
}
.shangshuzhi-heibai,
.shangshuzhi-heibai01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.56rem;
  height: 1.2rem;
  background-image: url(../img/shangshuzhi-heibai.png);
  background-size: 2.56rem 1.2rem;
}
.shangshuzhi {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.56rem;
  height: 1.2rem;
  background-image: url(../img/shangshuzhi.png);
  background-size: 2.56rem 1.2rem;
}
.shangshuzhi .shangshuhua01 {
  position: absolute;
  top: 0.09333333rem;
  left: 0.2rem;
  width: 0.46666667rem;
  height: 0.42666667rem;
  background-image: url(../img/shuhua01.png);
  background-size: 0.46666667rem 0.42666667rem;
}
.shangshuzhi .shangshuhua02 {
  position: absolute;
  top: 0.6rem;
  left: 0.46666667rem;
  width: 0.26666667rem;
  height: 0.25333333rem;
  background-image: url(../img/shuhua02.png);
  background-size: 0.26666667rem 0.25333333rem;
}
.shangshuzhi .shangshuhua03 {
  position: absolute;
  top: 0.98666667rem;
  left: 0.70666667rem;
  width: 0.33333333rem;
  height: 0.33333333rem;
  background-image: url(../img/shuhua04.png);
  background-size: 0.33333333rem 0.33333333rem;
}
.shangshuzhi .shangshuhua04 {
  position: absolute;
  top: 0.53333333rem;
  left: 1.04rem;
  width: 0.50666667rem;
  height: 0.56rem;
  background-image: url(../img/shuhua03.png);
  background-size: 0.50666667rem 0.56rem;
}
.shangshuzhi .shangshuhua05 {
  position: absolute;
  top: 0.46666667rem;
  left: 2.2rem;
  width: 0.29333333rem;
  height: 0.21333333rem;
  background-image: url(../img/shuhua05.png);
  background-size: 0.29333333rem 0.21333333rem;
}
.shangshuzhi .shangshuhua06 {
  position: absolute;
  top: 0.2rem;
  left: 2.4rem;
  width: 0.17333333rem;
  height: 0.16rem;
  background-image: url(../img/shuhua06.png);
  background-size: 0.17333333rem 0.16rem;
}
.shangshuhua01,
.shangshuhua02,
.shangshuhua03,
.shangshuhua04,
.shangshuhua05,
.shangshuhua06,
.shangshuhua07,
.chuanghua01,
.chuanghua02,
.chuanghua03,
.chuanghua04,
.chuanghua05,
.pinghua01,
.pinghua02,
.pinghua03,
.pinghua04,
.pinghua05,
.pinghua06,
.pinghua07,
.pinghua08,
.pinghua09,
.pingya01,
.pingya02,
.pingya03 {
  opacity: 0;
  transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
}
.pinghua01.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 1s forwards;
  -moz-animation: kaihua01 0.4s ease-in 1s forwards;
  -o-animation: kaihua01 0.4s ease-in 1s forwards;
  animation: kaihua01 0.4s ease-in 1s forwards;
}
.pinghua02.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 1s forwards;
  -moz-animation: kaihua01 0.4s ease-in 1s forwards;
  -o-animation: kaihua01 0.4s ease-in 1s forwards;
  animation: kaihua01 0.4s ease-in 1s forwards;
}
.pinghua03.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 0.9s forwards;
  -moz-animation: kaihua01 0.4s ease-in 0.9s forwards;
  -o-animation: kaihua01 0.4s ease-in 0.9s forwards;
  animation: kaihua01 0.4s ease-in 0.9s forwards;
}
.pinghua04.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 0.8s forwards;
  -moz-animation: kaihua01 0.4s ease-in 0.8s forwards;
  -o-animation: kaihua01 0.4s ease-in 0.8s forwards;
  animation: kaihua01 0.4s ease-in 0.8s forwards;
}
.pinghua05.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 1.1s forwards;
  -moz-animation: kaihua01 0.4s ease-in 1.1s forwards;
  -o-animation: kaihua01 0.4s ease-in 1.1s forwards;
  animation: kaihua01 0.4s ease-in 1.1s forwards;
}
.pinghua06.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 0.6s forwards;
  -moz-animation: kaihua01 0.4s ease-in 0.6s forwards;
  -o-animation: kaihua01 0.4s ease-in 0.6s forwards;
  animation: kaihua01 0.4s ease-in 0.6s forwards;
}
.pinghua07.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 0.7s forwards;
  -moz-animation: kaihua01 0.4s ease-in 0.7s forwards;
  -o-animation: kaihua01 0.4s ease-in 0.7s forwards;
  animation: kaihua01 0.4s ease-in 0.7s forwards;
}
.pinghua08.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 0.8s forwards;
  -moz-animation: kaihua01 0.4s ease-in 0.8s forwards;
  -o-animation: kaihua01 0.4s ease-in 0.8s forwards;
  animation: kaihua01 0.4s ease-in 0.8s forwards;
}
.pinghua09.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 0.9s forwards;
  -moz-animation: kaihua01 0.4s ease-in 0.9s forwards;
  -o-animation: kaihua01 0.4s ease-in 0.9s forwards;
  animation: kaihua01 0.4s ease-in 0.9s forwards;
}
.chuanghua01.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 1.6s forwards;
  -moz-animation: kaihua01 0.4s ease-in 1.6s forwards;
  -o-animation: kaihua01 0.4s ease-in 1.6s forwards;
  animation: kaihua01 0.4s ease-in 1.6s forwards;
}
.chuanghua02.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 2.6s forwards;
  -moz-animation: kaihua01 0.4s ease-in 2.6s forwards;
  -o-animation: kaihua01 0.4s ease-in 2.6s forwards;
  animation: kaihua01 0.4s ease-in 2.6s forwards;
}
.chuanghua03.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 2.1s forwards;
  -moz-animation: kaihua01 0.4s ease-in 2.1s forwards;
  -o-animation: kaihua01 0.4s ease-in 2.1s forwards;
  animation: kaihua01 0.4s ease-in 2.1s forwards;
}
.chuanghua04.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 2.3s forwards;
  -moz-animation: kaihua01 0.4s ease-in 2.3s forwards;
  -o-animation: kaihua01 0.4s ease-in 2.3s forwards;
  animation: kaihua01 0.4s ease-in 2.3s forwards;
}
.chuanghua05.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 2.4s forwards;
  -moz-animation: kaihua01 0.4s ease-in 2.4s forwards;
  -o-animation: kaihua01 0.4s ease-in 2.4s forwards;
  animation: kaihua01 0.4s ease-in 2.4s forwards;
}
.shangshuhua01.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 2.5s forwards;
  -moz-animation: kaihua01 0.4s ease-in 2.5s forwards;
   -o-animation: kaihua01 0.4s ease-in 2.5s forwards;
    animation: kaihua01 0.4s ease-in 2.5s forwards;
}
.shangshuhua01.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 1.2s forwards;
  -moz-animation: kaihua01 0.4s ease-in 1.2s forwards;
  -o-animation: kaihua01 0.4s ease-in 1.2s forwards;
  animation: kaihua01 0.4s ease-in 1.2s forwards;
}
.shangshuhua02.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 0.9s forwards;
  -moz-animation: kaihua01 0.4s ease-in 0.9s forwards;
  -o-animation: kaihua01 0.4s ease-in 0.9s forwards;
  animation: kaihua01 0.4s ease-in 0.9s forwards;
}
.shangshuhua03.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 1.1s forwards;
  -moz-animation: kaihua01 0.4s ease-in 1.1s forwards;
  -o-animation: kaihua01 0.4s ease-in 1.1s forwards;
  animation: kaihua01 0.4s ease-in 1.1s forwards;
}
.shangshuhua04.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 1.2s forwards;
  -moz-animation: kaihua01 0.4s ease-in 1.2s forwards;
  -o-animation: kaihua01 0.4s ease-in 1.2s forwards;
  animation: kaihua01 0.4s ease-in 1.2s forwards;
}
.shangshuhua05.kaihuala {
  -webkit-animation: kaihua01 0.4s ease-in 1.3s forwards;
  -moz-animation: kaihua01 0.4s ease-in 1.3s forwards;
  -o-animation: kaihua01 0.4s ease-in 1.3s forwards;
  animation: kaihua01 0.4s ease-in 1.3s forwards;
}
@keyframes kaihua01 {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  35% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  85% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes kaihua01 {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  35% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  85% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.wenzi01 {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  background-image: url(../img/wenzi0103.png);
  background-size: 1.94666667rem 4.37333333rem;
  width: 1.94666667rem;
  height: 4.37333333rem;
  opacity: 1;
}
.wenzi02 {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  background-image: url(../img/wenzi0203.png);
  background-size: 1.94666667rem 3.89333333rem;
  width: 1.94666667rem;
  height: 3.89333333rem;
  opacity: 0;
}
.wenzi01-show {
  opacity: 0;
  -webkit-transition: all 1s 2s ease;
  -moz-transition: all 1s 2s ease;
  -o-transition: all 1s 2s ease;
  transition: all 1s 2s ease;
}
.wenzi02-show {
  opacity: 1;
  -webkit-transition: all 1.5s 3s ease;
  -moz-transition: all 1.5s 3s ease;
  -o-transition: all 1.5s 3s ease;
  transition: all 1.5s 3s ease;
}
/**************����***************/
.chuanghu-heibai,.chuanghu-heibai01 {
  position: absolute;
  left: 50%;
  top: 2rem;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 8rem;
  height: 7.333rem;
  background-image: url(../img/chuanghu-heibai02.png);
  background-size: 8rem 7.333rem;
}
.chuanghu {
  position: absolute;
  left: 50%;
  top: 2rem;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 8rem;
  height: 7.333rem;
  background-image: url(../img/chuanghu02.png);
  background-size: 8rem 7.333rem;
}
.chuanghu .chuanghua01 {
  position: absolute;
  right: 2.88rem;
  top: 1.77333333rem;
  width: 0.08rem;
  height: 0.09333333rem;
  background-image: url(../img/chuanghua01.png);
  background-size: 0.08rem 0.09333333rem;
}
.chuanghu .chuanghua02 {
  position: absolute;
  right: 2.58666667rem;
  top: 1.58666667rem;
  width: 0.29333333rem;
  height: 0.24rem;
  background-image: url(../img/chuanghua02.png);
  background-size: 0.29333333rem 0.24rem;
}
.chuanghu .chuanghua03 {
  position: absolute;
  right: 1.46666667rem;
  top: 2rem;
  width: 0.4rem;
  height: 0.62666667rem;
  background-image: url(../img/chuanghua03.png);
  background-size: 0.4rem 0.62666667rem;
}
.chuanghu .chuanghua04 {
  position: absolute;
  right: 1.84rem;
  top: 2.70666667rem;
  width: 0.32rem;
  height: 0.37333333rem;
  background-image: url(../img/chuanghua04.png);
  background-size: 0.32rem 0.37333333rem;
}
.chuanghu .chuanghua05 {
  position: absolute;
  right: 1.93333333rem;
  top: 2.34666667rem;
  width: 0.10666667rem;
  height: 0.16rem;
  background-image: url(../img/chuanghua01.png);
  background-size: 0.10666667rem 0.16rem;
}
.chuanghu .chuanghuaban01 {
  position: absolute;
  right: 1.4rem;
  top: 3.13333333rem;
  width: 0.2rem;
  height: 0.22666667rem;
  background-image: url(../img/chuanghuaban01.png);
  background-size: 0.2rem 0.22666667rem;
  opacity: 0;
}
.chuanghu .chuanghuaban02 {
  position: absolute;
  right: 1.46666667rem;
  top: 3.3rem;
  width: 0.21333333rem;
  height: 0.16rem;
  background-image: url(../img/chuanghuaban02.png);
  background-size: 0.2rem 0.22666667rem;
  opacity: 0;
}
.chuanghu .chuanghuaban03 {
  position: absolute;
  right: 1.46666667rem;
  top: 3.56666667rem;
  width: 0.17333333rem;
  height: 0.21333333rem;
  background-image: url(../img/chuanghuaban03.png);
  background-size: 0.2rem 0.22666667rem;
  opacity: 0;
}
.chuanghuaban01.huabandiao01 {
  -webkit-animation: huabandiaola 2s ease-in 0s infinite;
  -moz-animation: huabandiaola 2s ease-in 0s infinite;
  -o-animation: huabandiaola 2s ease-in 0s infinite;
  animation: huabandiaola 2s ease-in 0s infinite;
}
.chuanghuaban02.huabandiao02 {
  -webkit-animation: huabandiaola 2.5s ease-in 0.8s infinite;
  -moz-animation: huabandiaola 2.5s ease-in 0.8s infinite;
  -o-animation: huabandiaola 2.5s ease-in 0.8s infinite;
  animation: huabandiaola 2.5s ease-in 0.8s infinite;
}
.chuanghuaban03.huabandiao03 {
  -webkit-animation: huabandiaola 3s ease-in 1.5s infinite;
  -moz-animation: huabandiaola 3s ease-in 1.5s infinite;
  -o-animation: huabandiaola 3s ease-in 1.5s infinite;
  animation: huabandiaola 3s ease-in 1.5s infinite;
}
@keyframes huabandiaola {
  0% {
    opacity: 0;
    top: 2.93333333rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    top: 4.53333333rem;
  }
}
@-webkit-keyframes huabandiaola {
  0% {
    opacity: 0;
    top: 2.93333333rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    top: 4.53333333rem;
  }
}
.taiyang {
  position: absolute;
  top: 0.62666rem;
  left: 2.733rem;
  background-image: url(../img/taiyang.png);
  background-size: 0.6rem 0.36rem;
  width: 0.6rem;
  height: 0.36rem;
}
.taiyangdong {
  animation: taiyangdongla 5s ease-in infinite;
  -moz-animation: taiyangdongla 5s ease-in infinite;
  -o-animation: taiyangdongla 5s ease-in infinite;
  -webkit-animation: taiyangdongla 5s ease-in infinite;
}
@keyframes taiyangdongla {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes taiyangdongla {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.dachuanqiang {
  position: absolute;
  top: 2.26666667rem;
  right: 0.60666667rem;
  width: 2.58666667rem;
  height: 2.58666667rem;
  overflow: hidden;
  clip-path: polygon(73% 0, 100% 46%, 77% 100%, 25% 100%, 0 49%, 24% 0);
  -webkit-clip-path: polygon(73% 0, 100% 46%, 77% 100%, 25% 100%, 0 49%, 24% 0);
  -moz-clip-path: polygon(73% 0, 100% 46%, 77% 100%, 25% 100%, 0 49%, 24% 0);
  -o-clip-path: polygon(73% 0, 100% 46%, 77% 100%, 25% 100%, 0 49%, 24% 0);
}
.dachuan {
  position: absolute;
  bottom: 0;
  right: -30%;
  background-image: url(../img/dachuan-02.png);
  background-size: 2.58666667rem 1.70666667rem;
  width: 2.58666667rem;
  height: 1.70666667rem;
}
.dachuan-heibai {
  position: absolute;
  bottom: 0;
  right: -30%;
  background-image: url(../img/dachuan-heibai.png);
  background-size: 2.58666667rem 1.70666667rem;
  width: 2.58666667rem;
  height: 1.70666667rem;
}
.dachuankai {
  animation: dachuankaila 5s 0.5s linear forwards ;
  -webkit-animation: dachuankaila 5s 0.5s linear forwards ;
  -o-animation: dachuankaila 5s 0.5s linear forwards ;
  -moz-animation: dachuankaila 5s 0.5s linear forwards ;
}
@keyframes dachuankaila {
  0% {
    right: -30%;
  }
  100% {
    right: 0%;
  }
}
@-webkit-keyframes dachuankaila {
  0% {
    right: -30%;
  }
  100% {
    right: 0%;
  }
}

.shuye-heibai,
.shuye-heibai01 {
  position: absolute;
  bottom: 3.8rem;
  left: 0;
  background-image: url(../img/shuye-heibai.png);
  background-size: 2.54666667rem 3.64rem;
  width: 2.54666667rem;
  height: 3.64rem;
  transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
}
.shuye {
  position: absolute;
  bottom: 3.8rem;
  left: 0;
  background-image: url(../img/shuye-caise04.gif);
  background-size: 2.54666667rem 3.64rem;
  width: 2.54666667rem;
  height: 3.64rem;
  transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
}
/********��Ҷ��*********/
.table-heibai,
.table-heibai01 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../img/zhuomian-heibai.png);
  background-size: 10rem 9.68rem;
  width: 10rem;
  height: 9.68rem;

}
.table {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../img/page01-table04.png);
  background-size: 10rem 9.68rem;
  width: 10rem;
  height: 9.68rem;

}
.table .pinghua01 {
  position: absolute;
  right: 0.42666667rem;
  top: 0.13333333rem;
  width: 0.18666667rem;
  height: 0.17333333rem;
  background-image: url(../img/pinghua01.png);
  background-size: 0.18666667rem 0.17333333rem;
}
.table .pinghua02 {
  position: absolute;
  right: 1.10666667rem;
  top: 0.33333333rem;
  width: 0.24rem;
  height: 0.26666667rem;
  background-image: url(../img/pinghua02.png);
  background-size: 0.24rem 0.26666667rem;
}
.table .pinghua03 {
  position: absolute;
  right: 1.10666667rem;
  top: 0.8rem;
  width: 0.30666667rem;
  height: 0.48rem;
  background-image: url(../img/pinghua03.png);
  background-size: 0.30666667rem 0.48rem;
}
.table .pinghua04 {
  position: absolute;
  right: 1.45333333rem;
  top: 1.33333333rem;
  width: 0.36rem;
  height: 0.49333333rem;
  background-image: url(../img/pinghua04.png);
  background-size: 0.36rem 0.49333333rem;
}
.table .pinghua05 {
  position: absolute;
  right: 1.6rem;
  top: 3.06666667rem;
  width: 0.46666667rem;
  height: 0.58666667rem;
  background-image: url(../img/pinghua05.png);
  background-size: 0.46666667rem 0.58666667rem;
}
.table .pinghua06 {
  position: absolute;
  right: 2.33333333rem;
  top: 3.33333333rem;
  width: 0.26666667rem;
  height: 0.48rem;
  background-image: url(../img/pinghua06.png);
  background-size: 0.26666667rem 0.48rem;
}
.table .pinghua07 {
  position: absolute;
  right: 2.26666667rem;
  top: 2.77333333rem;
  width: 0.41333333rem;
  height: 0.36rem;
  background-image: url(../img/pinghua07.png);
  background-size: 0.41333333rem 0.36rem;
}
.table .pinghua08 {
  position: absolute;
  right: 2.73333333rem;
  top: 2.57333333rem;
  width: 0.25333333rem;
  height: 0.32rem;
  background-image: url(../img/pinghua08.png);
  background-size: 0.25333333rem 0.32rem;
}
.table .pinghua09 {
  position: absolute;
  right: 3.29333333rem;
  top: 2.82666667rem;
  width: 0.16rem;
  height: 0.18666667rem;
  background-image: url(../img/pinghua09.png);
  background-size: 0.16rem 0.18666667rem;
}
.table .pingya01 {
  position: absolute;
  right: 1.73333333rem;
  top: 2.05333333rem;
  width: 0.16rem;
  height: 0.17333333rem;
  background-image: url(../img/pingya01.png);
  background-size: 0.16rem 0.17333333rem;
}
.table .pingya02 {
  position: absolute;
  right: 2.06666667rem;
  top: 3.49333333rem;
  width: 0.2rem;
  height: 0.25333333rem;
  background-image: url(../img/pingya02.png);
  background-size: 0.2rem 0.25333333rem;
}
.table .pingya03 {
  position: absolute;
  right: 2.44rem;
  top: 3.06666667rem;
  width: 0.2rem;
  height: 0.24rem;
  background-image: url(../img/pingya03.png);
  background-size: 0.2rem 0.24rem;
}
